extends layout

block append head
    script(src='/javascripts/jquery-ui.1.12.1.min.js')
    script(src='/javascripts/jquery.ui.touch-punch-0.2.3.min.js')

block scripts
    script.
        $(function () {
            $('#sortable-player-list').sortable({
                stop: function(event, ui) {
                    $( event.originalEvent.target ).one('click', function(e){ e.stopImmediatePropagation(); } );
                }
            });
            $('#sortable-player-list').disableSelection();

            $('#all-players-list').on('click', '.player-name-label', function() {
                var sortablePlayerList = $('#sortable-player-list');
                $(this).parent().appendTo(sortablePlayerList).removeClass('float-left');

                if ($('#game-type-select').val() == 3) {
                    $(this).closest('.form-check').find('.input-player-handicap').show();
                }
            });

            $('#sortable-player-list').on('click', '.player-name-label', function() {
                var allPlayersList = $('#all-players-list');
                $(this).parent().appendTo(allPlayersList).addClass('float-left');
                $(this).closest('.form-check').find('.input-player-handicap').hide();
            });

            $('#game-type-select').on('change', function() {
                $('#sortable-player-list .input-player-handicap').hide();
                if (this.value == 2) {
                    $('#match-type-select').prop('disabled', true);
                    $('#match-type-select').val('0');
                }
                else if (this.value == 3) {
                    $('#sortable-player-list .input-player-handicap').show();
                }
                else {
                    $('#match-type-select').prop('disabled', false);
                    $('#match-type-select').val('501');
                }
            });

            $('#create-match-button').click(function() {
                $(this).blur();
            });

            $('#start-match-button').click(function(e) {
                var stake = parseInt($('#game-stake-select').val());
                var body = {
                    starting_score: parseInt($('#match-type-select').val()),
                    game_type: parseInt($('#game-type-select').val()),
                    game_mode: parseInt($('#game-mode-select').val()),
                    game_stake: stake === 0 ? null : stake,
                    players: [],
                    player_handicaps: {}
                }
                $('#sortable-player-list .form-check-input').each(function() {
                    var playerId = parseInt($(this).val());
                    body.players.push(playerId);
                    if (body.game_type === 3) {
                        body.player_handicaps[playerId] = parseInt($(this).closest('.form-check').find('.input-player-handicap').val());
                    }
                });
                executePost(window.location.origin + '/games/new', JSON.stringify(body), 'application/json',
                    function(response){
                        location.href = 'matches/' + response.current_match_id
                    }, function(error) {
                        console.log(error);
                    }
                );
                e.preventDefault();
            });
        });
    script.
        var playerId = '';
        $(document).keypress(function (e) {
            switch (e.key) {
                case 'Enter':
                    var playerChck = $('#checkbox-player-' + playerId);
                    if (playerChck.length) {
                        playerChck.parent().children('.player-name-label').trigger('click');
                    }
                    playerId = '';
                    break;
                case '1': playerId += '1'; break;
                case '2': playerId += '2'; break;
                case '3': playerId += '3'; break;
                case '4': playerId += '4'; break;
                case '5': playerId += '5'; break;
                case '6': playerId += '6'; break;
                case '7': playerId += '7'; break;
                case '8': playerId += '8'; break;
                case '9': playerId += '9'; break;
                case '0': playerId += '0'; break;
                default: /* NOOP */; break;
            }
        });

block content
    div(id='new-match-collapse')
        div(class='card card-block')
            if players.length == 0
                p.
                    Players must be added before you can start a new game
            else
                form(style='padding-top: 15px;' id='new-match-form')
                    legend Players
                    div(class='form-group form-check float-left' id='sortable-player-list')
                    legend(style='clear: both;') Select Players
                    div(class='form-group form-check' id='all-players-list')
                        each player in players
                            div(class='form-check float-left' style='padding-bottom: 10px;')
                                input(style='display: none;' type='checkbox' name='players' class='form-check-input' id='checkbox-player-' + player.id value=player.id)
                                label(style='margin-left: 10px; width: 150px;' class='player-name-label form-check-label btn btn-primary' for='checkbox-player-' + player.id)= player.name
                                input(style='margin-left: 10px; width: 50px;' type='textbox' name='player_handicap' class='form input-player-handicap' hidden='true' value=0)

                    div(class='form-group' style='clear: both')
                        label(for='match-type-select') Starting Score
                        select(class='form-control' name='starting_score' id='match-type-select')
                            option 301
                            option(selected='selected') 501
                            option 701
                            option(hidden='true') 0

                    div(class='form-group')
                        label(for='game-type-select') Game Type
                        select(class='form-control' name='game_type' id='game-type-select')
                            each gameType in game_types
                                option(value=gameType.id)= gameType.name

                    div(class='form-group')
                        label(for='game-mode-select') Game Mode
                        select(class='form-control' name='game_mode' id='game-mode-select')
                            each mode in game_modes
                                option(value=mode.id)= mode.name

                    div(class='form-group')
                        label(for='game-stake-select') Game Stake
                        select(class='form-control' name='game_stake' id='game-stake-select')
                            option(value=0) -
                            each oweType in owe_types
                                option(value=oweType.id)= oweType.item

                    button(type='submit' form='new-match-form' class='btn btn-primary' id='start-match-button' ) Start