extends layout.pug

include mixins/player.pug

block append head
    script(src='/javascripts/moment-2.20.1.min.js')

block scripts
    script.
        $(function() {
            $('.btn-view-results').click(function() {
                var id = $(this).closest('tr').find('th').text();
                window.location.href = '/legs/' + id  + '/result';
            });

            $('[data-toggle="tooltip"]').tooltip();
        });

block content
    - var duration = moment.duration(moment(match.last_throw_time).diff(match.first_throw_time)).asMinutes().toFixed()
    div(class='pt-20')
    div(class='block-container') 
        div(class='container-info-icon')
            i(class="fas fa-trophy")
        div(class='float-left pl-20')
            h3 Match Result (#{match.id})
            div(class='float-left' style='width: 250px;')
                p(style='padding-top: 5px;')
                    i(class="fas fa-clock") 
                    span(class='ml-5') Started #{moment(match.created_at).format('YYYY-MM-DD HH:mm:ss')}
                p(style='padding-top: 3px;')
                    i(class="fas fa-clock") 
                    span(class='ml-5') Finished #{match.end_time === undefined ? '-' : moment(match.end_time).format('YYYY-MM-DD HH:mm:ss')}
                p(style='padding-top: 3px;')
                    i(class="fas fa-stopwatch") 
                    span(class='ml-5') Duration #{match.end_time === undefined || duration == 0 ? '-' : duration + ' minutes'}
            div(class='float-left' style='width: 250px;')
                p(style='padding-top: 3px;')
                    i(class="fas fa-bullseye") 
                    span(class='ml-5') #{match.match_mode.name}
                p(style='padding-top: 3px;')
                    i(class="fas fa-trophy") 
                    span(class='ml-5') Stakes #{match.owe_type_id === null ? "None" : match.owe_type.item}


    if match.tournament_id
        div(class='block-container-orange')= match.tournament.tournament_name + ' / ' + match.tournament.tournament_group_name

    - var hasStatistics = stats.length

    table(id='player-comparison-table')
        thead
            tr
                th(class='block-container-header-red' style='width: 100px;') Legs
                if hasStatistics
                    each stat in stats
                        th
                            div(class='block-container-header'): a(href='/players/' + stat.player_id + '/statistics')= stat.player_name
                else
                    each id in match.players
                        th
                            div(class='block-container-header'): a(href='/players/' + player.id + '/statistics')= players[id].name
                th(class='block-container-header-red' style='width: 100px;') Results
        tbody
            - var idx = 1
            each leg in match.legs
                tr
                    th(hidden='true' scope='row')= leg.id
                    td(class='block-container-mid')= '#' + idx++
                    if hasStatistics
                        each stat in stats
                            td
                                div(class='block-container-mid')
                                    if leg.winner_player_id === stat.player_id
                                        i(class="fas fa-trophy")
                                    else
                                        i(class="fas fa-minus")
                    else
                        each id in match.players
                            td
                                div(class='block-container-mid')
                                    if leg.winner_player_id === id
                                        i(class="fas fa-trophy")
                                    else
                                        i(class="fas fa-minus")
                    if leg.has_scores
                        td(class='block-container-mid')
                            i(class="fas fa-eye fas-option-button btn-view-results" data-toggle="tooltip" data-placement="top" title="View")
                    else
                        td(class='block-container-mid') N/A
            tr
                td
                    each statistic in stats
                        - var player = players[statistic.player_id]
                        td
                            div(class='block-container-with-header')
                                +player_statistics_card('player-card-match', player, statistic, statistic.player_id === match.winner_id)
                td