extends layout.pug

block append head
    script(src='/javascripts/moment-2.20.1.min.js')
    script(src='/javascripts/jquery.twbsPagination-1.4.1.min.js')

block scripts
    script.
        var total = !{JSON.stringify(total_pages)}
        var page = parseInt(!{JSON.stringify(page_num)})
        $(function() {
            $('.sync-pagination').twbsPagination({
                totalPages: total,
                visiblePages: 7,
                initiateStartPageClick: false,
                startPage: page,
                cssStyle: '',
                prevText: '<span aria-hidden="true">&laquo;</span>',
                nextText: '<span aria-hidden="true">&raquo;</span>',
                onPageClick: function (event, page) {
                    location.href = '/matches/page/' + page;
                }
            });
        });
    script.
        $(function() {
            $('#table-matches-list').on('mouseup', '#continue-match-button', function (e) {
                openLink('/matches/' + $(this).data('match'), e);
            });
            $('#table-matches-list').on('mouseup', '#spectate-match-button', function(e) {
                openLink('/matches/' + $(this).data('match') + '/spectate', e);
            });
            $('#table-matches-list').on('mouseup', '#view-match-button', function (e) {
                openLink('/matches/' + $(this).data('match') + '/result', e);
            });
        });

        function openLink(url, mouseEvent) {
            if (mouseEvent.which == 1) {
                location.href = url;
            }
            else if (mouseEvent.which == 2) {
                window.open(url);
                mouseEvent.preventDefault()
            }
        }

block content
    div
        h2 Matches
        p.
            Overview over all played matches

    div(class='col-md-14 text-right')
        ul(class="sync-pagination")

    table(class='table' id='table-matches-list')
            thead
                tr
                    th(hidden=true)
                    th Start Time
                    th Venue
                    th Mode
                    th type
                    th Players
                    th Winner
                    th Results
            tbody
                each match in matches
                    - var isLive = moment.duration(moment().diff(match.last_throw_time)).asMinutes().toFixed() < 2
                    tr
                        th(hidden='true' scope='row')= match.id
                        td(class='col-sm-2')
                            div(style='display: inline-block; padding-right: 6px')= moment(match.created_at).format('YYYY-MM-DD HH:mm:ss')
                            if isLive
                                label(class='label label-info' style='line-height: inherit;') Live
                        td(class='col-sm-1')
                            if match.venue
                                div= match.venue.name
                        td(class='col-sm-1')= match.match_type.name
                        td(class='col-sm-1')= match.match_mode.name
                        td(class='col-sm-1')
                            each id in match.players
                                div(style='margin-bottom: 5px;')
                                    span(class='label label-primary' style='line-height: inherit;')= players[id].name
                        if match.is_finished
                            td(class='col-sm-1')
                                if match.winner_id === null
                                    div: span(class='label label-default' style='line-height: inherit;') Draw
                                else
                                    div: span(class='label label-success' style='line-height: inherit;')= players[match.winner_id].name
                        else
                            td(class='col-sm-2')
                        td(class='col-sm-2')
                            if !match.is_finished
                                button(type='button' id='continue-match-button' data-match=match.id class='btn btn-primary btn-block') Continue
                                button(type='button' id='spectate-match-button' data-match=match.id class='btn btn-primary btn-block') Spectate
                            else
                                button(type='button' id='view-match-button' data-match=match.id class='btn btn-primary btn-block') View

    div(class='col-md-14 text-right')
        ul(id='pagination-matches' class="sync-pagination pagination-md")