extends layout.pug

include mixins/player.pug

block append head
    script(src='/javascripts/moment-2.20.1.min.js')

block scripts
    script.
        $(function() {
            $('.btn-view-results').click(function() {
                var id = $(this).closest('tr').find('th').text();
                window.location.href = '/legs/' + id  + '/result';
            });
        });

block content
    div(class='clearfix')
        h2(style='margin-bottom: 5px;' class='pull-left') Match Result (#{match.id})

    if match.tournament_id
        h3(style='margin-top: 5px;'): b= match.tournament.tournament_name + ' / ' + match.tournament.tournament_group_name

    - var duration = moment.duration(moment(match.last_throw_time).diff(match.first_throw_time)).asMinutes().toFixed()
    p.
        Type: #{match.match_mode.name} <br>
        Started: #{moment(match.created_at).format('YYYY-MM-DD HH:mm:ss')} <br>
        Finished: #{match.end_time === undefined ? '-' : moment(match.end_time).format('YYYY-MM-DD HH:mm:ss')} <br>
        Stakes: #{match.owe_type_id === null ? "None" : match.owe_type.item} <br>
        Duration: #{match.end_time === undefined || duration == 0 ? '-' : duration + ' minutes'} <br>

    - var hasStatistics = stats.length
    div(class='table-responsive')
        table(id='player-comparison-table' class='table table-striped table-bordered')
            thead
                tr
                    th Legs
                    if hasStatistics
                        each stat in stats
                            th= stat.player_name
                    else
                        each id in match.players
                            th= players[id].name
                    th Results
            tbody
             - var idx = 1
                each leg in match.legs
                    tr
                        th(hidden='true' scope='row')= leg.id
                        td(class='col-sm-2')= '#' + idx++
                        if hasStatistics
                            each stat in stats
                                td
                                    if leg.winner_player_id === stat.player_id
                                        span(class='glyphicon glyphicon-ok' aria-hidden='true')
                                    else
                                        span(class='glyphicon glyphicon-remove' aria-hidden='true')
                        else
                            each id in match.players
                                td
                                    if leg.winner_player_id === id
                                        span(class='glyphicon glyphicon-ok' aria-hidden='true')
                                    else
                                        span(class='glyphicon glyphicon-remove' aria-hidden='true')
                        if leg.has_scores
                            td: button(type='button' class='btn btn-primary btn-block btn-view-results') View
                        else
                            td N/A
                tr
                    td
                    each statistic in stats
                        - var player = players[statistic.player_id]
                        td(class='text-center')
                            +player_statistics_card('player-card-match', player, statistic, statistic.player_id === match.winner_id)
                    td