extends layout.pug

block append head
    script(src='/javascripts/moment-2.20.1.min.js')
    script(src='/javascripts/jquery.twbsPagination-1.4.1.min.js')

block scripts
    script.
        var total = !{JSON.stringify(total_pages)}
        var page = parseInt(!{JSON.stringify(page_num)})
        $(function() {
            $('.sync-pagination').twbsPagination({
                totalPages: total,
                visiblePages: 7,
                initiateStartPageClick: false,
                startPage: page,
                cssStyle: '',
                prevText: '<span aria-hidden="true">&laquo;</span>',
                nextText: '<span aria-hidden="true">&raquo;</span>',
                onPageClick: function (event, page) {
                    location.href = '/matches/page/' + page;
                }
            });

            $('[data-toggle="tooltip"]').tooltip();
        });
    script.
        $(function() {
            $('#table-matches-list').on('mouseup', '#continue-match-button', function (e) {
                openLink('/matches/' + $(this).data('match'), e);
            });
            $('#table-matches-list').on('mouseup', '#spectate-match-button', function(e) {
                openLink('/matches/' + $(this).data('match') + '/spectate', e);
            });
            $('#table-matches-list').on('mouseup', '#view-match-button', function (e) {
                openLink('/matches/' + $(this).data('match') + '/result', e);
            });
        });

        function openLink(url, mouseEvent) {
            if (mouseEvent.which == 1) {
                location.href = url;
            }
            else if (mouseEvent.which == 2) {
                window.open(url);
                mouseEvent.preventDefault()
            }
        }

block content
    div(class='pt-20')
    div(class='block-container')
        div(class='container-info-icon')
            i(class="fas fa-trophy")
        div(class='float-left pl-20')
            h3 Matches
            p Overview over all played matches
        div(class='float-right')
            ul(class="sync-pagination")

    div(class='block-container no-padding')
        table(id='table-matches-list')
            thead
                tr
                    th(hidden=true)
                    th(class='text-left')
                        span(class='ml-10') Start Time
                    th(class='text-left')
                        span Status
                    th
                        span(class='ml-10') Venue
                    th
                        span(class='ml-10') Type
                    th Mode
                    th(class='text-left')
                        span(class='ml-10') Players
                    th(class='text-center') Results
            tbody
                each match in matches
                    - var isLive = !match.is_finished && moment.duration(moment().diff(match.last_throw_time)).asMinutes().toFixed() < 2
                    tr
                        th(hidden='true' scope='row')= match.id
                        td(class='text-left')
                            if match.tournament_id
                                div(class='float-left' style='margin-right: 10px;')
                                    label(class='label label-warning') Official
                            div= moment(match.created_at).format('YYYY-MM-DD HH:mm:ss')
                        td(class='text-left')
                            if match.is_abandoned
                                div
                                    label(class='label label-warning' style='line-height: inherit;') Abandoned
                            else if isLive
                                div
                                    label(class='label label-info' style='line-height: inherit;') Live
                            else if match.is_finished
                                if match.winner_id == null
                                    div
                                        label(class='label label-default' style='line-height: inherit;') Finished
                                else
                                    div
                                        label(class='label label-success' style='line-height: inherit;') Finished
                        td
                            if match.venue
                                div= match.venue.name
                        td= match.match_type.name
                        td= match.match_mode.name
                        if match.is_finished
                            td
                                if match.is_abandoned
                                    div: span(class='label label-default') Abandoned
                                else if match.winner_id === null
                                    each id in match.players
                                        div(class='float-left')
                                            span(class='label label-secondary')= players[id].name
                                else
                                    each id in match.players
                                        if id != match.winner_id
                                            div(class='float-left')
                                                span(class='label label-secondary')= players[id].name
                                        else
                                            div(class='float-left')
                                                span(class='label label-success')= players[match.winner_id].name
                        else
                            td
                                each id in match.players
                                    div(class='float-left')
                                        span(class='label label-secondary')= players[id].name
                        td(class='text-center icon-options')
                            if !match.is_finished
                                i(class="fas fa-play-circle fas-option-button" id='continue-match-button' data-match=match.id data-toggle="tooltip" data-placement="top" title="Continue")
                                i(class="fas fa-eye fas-option-button pl-10" id='spectate-match-button' data-match=match.id data-toggle="tooltip" data-placement="top" title="View")
                            else
                                i(class="fas fa-eye fas-option-button" id='view-match-button' data-match=match.id data-toggle="tooltip" data-placement="top" title="View")

    div(class='block-container')
        ul(id='pagination-matches' class="sync-pagination pagination-md float-right")