extends layout.pug

block scripts
	script.
		$(function() {
			$('#compare-players-button').click(function() {
				var comparePlayers = '?';
		        $(':checkbox:checked').each(function(i){
		        	comparePlayers += 'player_id=' + $(this).val() + '&';
		        });
		        comparePlayers = comparePlayers.slice(0, -1);
		        if (comparePlayers === '') {
					$('#compare-players-alert').show();
		        	return;
		        }
		        location.href = '/players/compare' + comparePlayers;
			});

			$('.view-player-btn').click(function() {
				location.href = '/players/' + $(this).data('player-id') + '/statistics'
			});

			$('#add-player-modal').on('shown.bs.modal', function () {
			    $('#player-name-input').focus();
			});
			$('#add-player-form').submit(function(event) {
				addPlayer();
			});
			$('#add-player-button').click(function() {
				addPlayer();
			});

			function addPlayer() {
				var nickname = $('#player-nickname-input').val();
				var player = {
					name: $('#player-name-input').val(),
					nickname: nickname === '' ? null : nickname
				};
				executePost('/players', JSON.stringify(player), 'application/json',
					function(response) {
						location.href = '/players';
					},
					function(error) {
						console.err("Unable to add player");
						console.err(error);
					}
				);
			}
		});

block content
	div(id='compare-players-alert' class='alert alert-danger' role='alert' hidden='true').
		Select at least one player to use for comparison

	h2 Players

	div(class='table-responsive')
		table(id='players-table' class='table table-striped table-bordered' style='layout:fixed;')
			thead
				tr
					th
					th(colspan=3) Games
					th(colspan=3) Legs
					th(colspan=2)
				tr
					th Name
					th Played
					th Won
					th Win %
					th Played
					th Won
					th Win %
					th Statistics
					th Compare
			tbody
				each player in players
					tr
						th(hidden='true' scope='row')= player.id
						td= player.name + (player.nickname !== null ? (" the '" + player.nickname + "'") : '')
						td= player.games_played
						td= player.games_won
						td= player.games_played == 0 ? '0.00%' : (player.games_won * 100 / player.games_played).toFixed(2) + '%'
						td= player.matches_played
						td= player.matches_won
						td= player.matches_played == 0 ? '0.00%' : (player.matches_won * 100 / player.matches_played).toFixed(2) + '%'
						td
							button(class='btn btn-primary view-player-btn btn-block' data-player-id=player.id disabled=player.games_played === 0) View
						td
							input(type='checkbox' name=player.name value=player.id disabled=player.games_played === 0)

		button(type='button' class='btn btn-block btn-primary' id='compare-players-button') Compare Players
		button(type='button' class='btn btn-block btn-primary' data-toggle='modal' data-target='#add-player-modal') Add Player
		div(class='modal fade' id='add-player-modal' tabindex='-1' role='dialog' aria-labelledby='add-player-modal-label')
			div(class='modal-dialog' role='document')
				div(class='modal-content')
					div(class='modal-header')
						button(type='button' class='close' data-dismiss='modal' aria-label='Close')
							span(aria-hidden='true') &times;
						h4(class='modal-title' id='add-player-modal-label') Add Player
					div(class='modal-body')
						form(id='add-player-form')
							div(class='form-group')
								label(for='player-name-input' class='control-label') Player Name:
								input(type='text' class='form-control' id='player-name-input')
							div(class='form-group')
								label(for='player-nickname-input' class='control-label') Nickname:
								input(type='text' class='form-control' id='player-nickname-input')
						div(class='modal-footer')
							button(type='button' class='btn btn-default' data-dismiss='modal') Close
							button(type='submit' class='btn btn-primary' id='add-player-button') Add Player
