extends layout.pug

block scripts
    script.
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

block content

    div(class='pt-20')
    div(class='block-container-orange')
        div(class='container-info-icon')
            i(class="fas fa-trophy")
        div(class='float-left pl-20')
            h3 Tournaments
            p List of tournaments

    div(class='block-container no-padding')
        table(id='table-tournaments-list')
            thead
                tr
                    th(hidden=true)
                    th(class='pl-10') Name
                    th(class='text-center') Short Name
                    th(class='text-center') Start Time
                    th(class='text-center') End Time
                    th(class='text-center') Overview
            tbody
                each tournament in tournaments
                    tr
                        th(hidden='true')= tournament.id
                        td(class='pl-10')= tournament.name
                        td(class='text-center')= tournament.short_name
                        td(class='text-center')
                            div(style='display: inline-block; padding-right: 6px')= moment(tournament.start_time).format('YYYY-MM-DD HH:mm:ss')
                        td(class='text-center')
                            div(style='display: inline-block; padding-right: 6px')= moment(tournament.end_time).format('YYYY-MM-DD HH:mm:ss')
                        td(class='text-center')
                            a(href='/tournaments/' + tournament.id)
                                i(class="fas fa-eye fas-option-button" data-toggle="tooltip" data-placement="top" title="View")
