extends layout.pug

block append head
    script(src='/javascripts/moment-2.20.1.min.js')

block scripts
    script.
        $(function() {
            var originalFrom = $('#previous-btn').data('current-date');
            var originalTo = $('#next-btn').data('current-date');
            $('#previous-btn').click(function() {
                var from = moment(originalFrom).isoWeekday(-6).format('YYYY-MM-DD');;
                var to = originalFrom;
                window.location.href = '/statistics/' + from + '/' + to;
            });
            $('#next-btn').click(function() {
                var from = originalTo;
                var to = moment(originalTo).isoWeekday(8).format('YYYY-MM-DD');;;
                window.location.href = '/statistics/' + from + '/' + to;
            });
        });


block content
    div(class='row')
        div(class='col-sm-2 text-left')
            button(id='previous-btn' class='btn btn-primary' data-current-date=statistics_x01.from) << Previous
        div(class='col-sm-8 text-center')
            h2= "Statistics (" + statistics_x01.from + " to " + statistics_x01.to + ")"
        div(class='col-sm-2 text-right')
            button(id='next-btn' class='btn btn-primary' data-current-date=statistics_x01.to) Next >>

    div
        div(class='row')
            h3 X01
            if statistics_x01.length === 0
                p No legs played ...
            else
                div(class='table')
                    table(id='table-x01-statistics' class='table')
                        thead
                            tr
                                th(colspan='7')
                                th(colspan='4' class='th-bordered') Per Game
                                th(colspan='3' class='th-bordered') Accuracy
                            tr
                                th(class='text-right') Rank
                                th Player
                                th(class='text-center') Played
                                th(class='text-center') Won
                                th(class='text-right') Win %
                                th(class='text-center') PPD / First 9
                                th(class='text-right') Checkout
                                th(class='text-right') 60s+
                                th(class='text-right') 100s+
                                th(class='text-right') 140s+
                                th(class='text-right') 180
                                th(class='text-right') Overall
                                th(class='text-right') 20s
                                th(class='text-right') 19s
                        tbody
                        - var rank = 1
                        each stats in statistics_x01
                            - var player = players[stats.player_id]
                            tr
                                td(class='text-right')= rank++
                                td(style='width: 12%'): a(href='/players/' + player.id + '/statistics')= player.name
                                td(class='text-center')= stats.games_played
                                td(class='text-center')= stats.games_won === undefined ? 0 : stats.games_won
                                td(class='text-right')= stats.games_won === undefined ? '0.00%' : (stats.games_won / stats.games_played * 100).toFixed(2) + '%'
                                td(class='text-center')= stats.ppd.toFixed(2) + ' / ' + stats.first_nine_ppd.toFixed(2)
                                td(class='text-right')= stats.checkout_percentage === null ? '-' : stats.checkout_percentage.toFixed(2) + ' %'
                                td(class='text-right')= (stats.scores_60s_plus / stats.games_played).toFixed(2)
                                td(class='text-right')= (stats.scores_100s_plus / stats.games_played).toFixed(2)
                                td(class='text-right')= (stats.scores_140s_plus / stats.games_played).toFixed(2)
                                td(class='text-right')= (stats.scores_180s / stats.games_played).toFixed(2)
                                td(class='text-right')= stats.accuracy_overall === null ? '-' : stats.accuracy_overall.toFixed(2)
                                td(class='text-right')= stats.accuracy_20 === null ? '-' : stats.accuracy_20.toFixed(2)
                                td(class='text-right')= stats.accuracy_19 === null ? '-' : stats.accuracy_19.toFixed(2)

    div
        div(class='row')
            h3 Shootout

            if statistics_shootout.length === 0
                p No games played ...
            else
                div(class='table')
                    table(id='table-shootout-statistics' class='table')
                        thead
                            tr
                                th(colspan='6')
                                th(colspan='4' class='th-bordered') Per Game
                            tr
                                th(class='text-right') Rank
                                th Player
                                th(class='text-center') Played
                                th(class='text-center') Won
                                th(class='text-right') Win %
                                th(class='text-center') PPD
                                th(class='text-right') 60s+
                                th(class='text-right') 100s+
                                th(class='text-right') 140s+
                                th(class='text-right') 180
                        tbody
                            - var rank = 1
                            each stats in statistics_shootout
                                - var player = players[stats.player_id]
                                tr
                                    td(class='text-right')= rank++
                                    td(style='width: 12%'): a(href='/players/' + player.id + '/statistics')= player.name
                                    td(class='text-center')= stats.games_played
                                    td(class='text-center')= stats.games_won === undefined ? 0 : stats.games_won
                                    td(class='text-right')= stats.games_won === undefined ? '0.00%' : (stats.games_won / stats.games_played * 100).toFixed(2) + '%'
                                    td(class='text-center')= stats.ppd.toFixed(2)
                                    td(class='text-right')= (stats.scores_60s_plus / stats.games_played).toFixed(2)
                                    td(class='text-right')= (stats.scores_100s_plus / stats.games_played).toFixed(2)
                                    td(class='text-right')= (stats.scores_140s_plus / stats.games_played).toFixed(2)
                                    td(class='text-right')= (stats.scores_180s / stats.games_played).toFixed(2)
