mixin get_score_header(match_mode, round_number, players, is_official, add_player_visit = false)
    div(class='table-responsive no-border')
        table(class='uv-table-mode' style='table-layout: fixed;')
            tbody: tr: td(id='td-round-header')
                    label= match_mode.short_name + '/'
                    label(id='round-number')= 'R' + round_number

    div(class='table-responsive no-border')
        table(class='uv-table-players' id='player-spectate-table' style='table-layout: fixed')
            tbody
                tr
                    each player in players
                        +get_player_cell(player, is_official)
                tr
                    each player in players
                        +get_player_legs(player)
                if add_player_visit
                    tr
                        each player in players
                            +get_current_player_visit(player)
    hr

mixin get_player_cell(player, is_official)
    - var playerId = player.player_id;
    - var clazz = player.is_current_player ? 'uv-active-player-score' : 'uv-inactive-player-score'
    if !is_official
        if !player.is_current_player && player.modifiers.is_vilius_visit
            - clazz += ' player-modifier-vilius'
        else if player.modifiers.is_beer_match
            - clazz += ' player-modifier-beer'
    td(id='player-score-' + playerId class=clazz)
        label(id='player-name-' + playerId class='label-player-name')= players[playerId].name
        label(id='player-id-' + playerId class='label label-block label-player-score' + (player.is_current_player ? ' current-player' : ''))= player.current_score

mixin get_player_legs(player)
    td(id='player-legs-' + player.player_id class=player.is_current_player ? 'uv-active-player-legs' : 'uv-inactive-player-legs')
        label= (player.wins ? player.wins : '0')

mixin get_current_player_visit(player)
    mixin visit_table(clazz)
        td(id='player-visit-' + player.player_id class=clazz)
            table(style='width: 100%;')
                tbody
                    tr
                        td(class='col-sm-2 dart-score-container no-border'): label(class='first' text='0' data-multiplier='1')
                        td(class='col-sm-2 dart-score-container no-border'): label(class='second' text='0' data-multiplier='1')
                        td(class='col-sm-2 dart-score-container no-border'): label(class='third' text='0' data-multiplier='1')
                    tr
                        td(style='padding: 3px;')
                    tr
                        td(colspan='3' class='dart-score-total')= 0

    if player.is_current_player
        +visit_table('uv-active-player-visits')
    else
        +visit_table('uv-inactive-player-visits')