extends ../layout.pug

include ../mixins/statistics.pug
include ../mixins/player.pug

block append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/datatables-1.10.16.min.css')
    script(src='/javascripts/datatables-1.10.16.min.js')

block scripts
    script.
        $(function () {
            $('#table-matches-list.table').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 15,
                order: [ [ 1, 'asc' ]],
                bAutoWidth: false,
            });

            $('[data-toggle="tooltip"]').tooltip();

            if (window.location.hash != "") {
                if (window.location.hash === '#matches') {
                    $('.tournament-group-matches').click();
                } else if (window.location.hash === '#unplayed') {
                    $('.tournament-group-unplayed-matches').click();
                } else {
                    $('a[href="' + window.location.hash + '"]').click();
                }
            }
        });

block content
    - var hasStatistics = !_.isEmpty(statistics)
    div(class='pt-20')
    div(class='block-container-orange')
        div(class='container-info-icon')
            i(class="fas fa-trophy")
        div(class='float-left pl-20')
            h3= tournament.name
            p Tournament
        div(style='float: right; padding-top: 4px;')
            ul(class='nav nav-pills')
                li(role='presentation' class='active'): a(href='#season' data-toggle='tab') Season
                if hasStatistics
                    li(role='presentation'): a(href='#statistics' data-toggle='tab') Statistics
                li(role='presentation'): a(href='#playoffs' data-toggle='tab') Playoffs
                if  tournament.standings
                    li(role='presentation'): a(href='#standings' data-toggle='tab') Final Standings

    div(class='tab-content')
        div(role='tabpanel' id='season' class='tab-pane active')
            each group, id in overview
                div(class='block-container pad10')
                    div(class='float-left' style='font-size: 30px;')= group[0].tournament_group.name
                    div(style='float: right; padding-top: 4px;')
                        ul(class='nav nav-pills')
                            li(role='presentation' class='active'): a(href='#standings-' + group[0].tournament_group.id data-toggle='tab') Standings
                            li(role='presentation'): a(href='#matches-' + group[0].tournament_group.id class='tournament-group-matches' data-toggle='tab') Matches
                            li(role='presentation'): a(href='#unplayed-matches-' + group[0].tournament_group.id class='tournament-group-unplayed-matches' data-toggle='tab') Unplayed

                div(class='tab-content')
                    div(role='tabpanel' id='standings-' + group[0].tournament_group.id class='tab-pane active')
                        div(class='block-container no-padding')
                            table(class='table-tournament-overview')
                                thead
                                    tr
                                        th(class='pl-10') Pos
                                        th Player
                                        th(class='text-right') P
                                        th(class='text-right pl-20') W
                                        th(class='text-right') D
                                        th(class='text-right') L
                                        th(class='text-center pl-10') F - A
                                        th(class='text-right pl-10') +/-
                                        th(class='text-right') PTS
                                        if hasStatistics
                                            th(class='text-center') 3 Dart Avg.
                                            th(class='text-center') Checkout %
                                            th(class='text-right') 60s+
                                            th(class='text-right') 100s+
                                            th(class='text-right') 140s+
                                            th(class='text-right') 180
                                            th(class='text-center') Overall
                                            th(class='text-center') 20s
                                            th(class='text-center') 19s
                                tbody
                                    - var rowNum = 0
                                    each player in group
                                        - rowNum++
                                        tr(class='tournament-' + id + '-rank-' + rowNum)
                                            td(class='pl-10')
                                                div
                                                    span(class='pr-5')= player.manual_order ? player.manual_order : player.rank
                                                    if player.is_winner
                                                        i(class="fas fa-star")
                                                    else if player.is_promoted
                                                        i(class="fas fa-caret-up")
                                                    else if player.is_relegated
                                                        i(class="fas fa-caret-down")
                                            td: a(href='/players/' + player.player_id + '/statistics#tournament')= players[player.player_id].name
                                            td(class='text-right')= player.played
                                            td(class='text-right pl-20')= player.matches_won
                                            td(class='text-right')= player.matches_draw
                                            td(class='text-right')= player.matches_lost
                                            td(class='text-center pl-10')= player.legs_for + ' - ' + player.legs_against
                                            td(class='text-right pl-10')= player.legs_difference > 0 ? '+' + player.legs_difference : player.legs_difference
                                            td(class='text-right')= player.points
                                            if hasStatistics
                                                td(class='text-center')= player.three_dart_avg === -1 ? '- / -' : player.three_dart_avg.toFixed(2) + ' / ' + player.first_nine_three_dart_avg.toFixed(2)
                                                td(class='text-center')= player.checkout_percentage === -1 ? '-' : player.checkout_percentage.toFixed(2) + '%'
                                                td(class='text-right')= player.scores_60s_plus
                                                td(class='text-right')= player.scores_100s_plus
                                                td(class='text-right')= player.scores_140s_plus
                                                td(class='text-right')= player.scores_180s
                                                td(class='text-center')= player.accuracy_overall === -1 ? '-' : player.accuracy_overall.toFixed(2)
                                                td(class='text-center')= player.accuracy_20 === -1 ? '-' : player.accuracy_20.toFixed(2)
                                                td(class='text-center')= player.accuracy_19 === -1 ? '-' : player.accuracy_19.toFixed(2)
                    mixin matches_table(matches)
                        table(class='table' id='table-matches-list')
                            thead
                                tr
                                    th(hidden=true)
                                    th(class='text-left'): span Start Time
                                    th(hidden=true)
                                    th(class='text-left'): span Status
                                    th(style='min-width: 300px;') Players
                                    th(Class='text-center') Results
                                    th(class='text-center')
                            tbody
                                each match in matches
                                    - var isLive = !match.is_finished && moment.duration(moment().diff(match.last_throw_time)).asMinutes().toFixed() < 2
                                    tr
                                        th(hidden='true' scope='row')= match.id
                                        td(class='text-left'): div= moment(match.created_at).format('YYYY-MM-DD')
                                        th(hidden="true")= match.is_finished
                                        td(class='text-left')
                                            if match.is_abandoned
                                                div
                                                    label(class='label label-warning' style='line-height: inherit;') Abandoned
                                            else if isLive
                                                div
                                                    label(class='label label-info' style='line-height: inherit;') Live
                                            else if match.is_finished
                                                - var clazz = match.winner_id == null ? 'label label-default' : 'label label-success'
                                                div
                                                    label(class=clazz style='line-height: inherit;' data-toggle="tooltip" data-placement="top" title=match.updated_at) Finished
                                        td(class='col-sm-1')
                                            if match.is_finished
                                                each id in match.players
                                                    if id != match.winner_id
                                                        div(class='float-left')
                                                            span(class='label label-secondary')= players[id].name
                                                    else
                                                        div(class='float-left')
                                                            span(class='label label-success')= players[match.winner_id].name
                                            else
                                                each id in match.players
                                                    span(class='label label-secondary')= players[id].name
                                        td(class='col-sm-1 text-center')
                                            if match.is_finished
                                                - var result = ''
                                                each id in match.players
                                                    - var wins = 0
                                                    if match.legs_won
                                                        each player in match.legs_won
                                                            if id === player
                                                                - wins++
                                                    - result += wins + ' - '
                                                span= result.slice(0, -3)
                                            else
                                                span
                                        td(class='col-sm-2 text-center')
                                            if !match.is_finished
                                                a(href='/matches/' + match.id)
                                                    i(class="fas fa-play-circle fas-option-button" data-match=match.id data-toggle="tooltip" data-placement="top" title="Continue")
                                                a(href='/matches/' + match.id + '/spectate')
                                                    i(class="fas fa-eye fas-option-button pl-10" data-toggle="tooltip" data-placement="top" title="Spectate")
                                                a(href='/matches/' + match.id + '/preview')
                                                    i(class="fas fa-expand-arrows-alt fas-option-button pl-10" data-toggle="tooltip" data-placement="top" title="Preview")
                                            else
                                                a(href='/matches/' + match.id + '/result')
                                                    i(class="fas fa-eye fas-option-button" data-toggle="tooltip" data-placement="top" title="View")

                    div(role='tabpanel' id='matches-' + group[0].tournament_group.id class='tab-pane')
                        div(class='block-container no-padding')
                            +matches_table(matches[id])

                    div(role='tabpanel' id='unplayed-matches-' + group[0].tournament_group.id class='tab-pane')
                        div(class='block-container no-padding')
                            - var unplayed = [];
                            - for (var i = 0; i < matches[id].length; i++) {
                            -     var match = matches[id][i];
                            -     if (match.is_finished) {
                            -         continue;
                            -     }
                            -    unplayed.push(match);
                            - }
                            +matches_table(unplayed)

        if hasStatistics
            mixin top_statistics(rank, idx, statistics)
                if statistics[idx]
                    td(class='cutout-with-rank')
                        div(class='float-left')
                            div(class='player-pic-cutout-small')
                                +get_player_profile_pic(players[statistics[idx].player_id], 49, 65)
                            +rank_circle(rank)
                    td(class='valign-mid'): a(href='/players/' + statistics[idx].player_id + '/statistics')= players[statistics[idx].player_id].name
                    +best_statistics_td(statistics[idx], 'valign-mid')
                else
                    td(class='cutout-with-rank')
                        div(class='float-left')
                            div(class='player-pic-cutout-small')
                            +rank_circle(rank)
                    td(class='valign-mid') -
                    td(class='valign-mid') -

            div(role='tabpanel' id='statistics' class='tab-pane')
                div(class='block-container')= 'Tournament records'
                table(class='tournament-records')
                    tr
                        td(style='width: 25%;')
                            div(class='block-container-red mr-10') Highest checkout
                            div(class='highscore-card')
                                table(class='table table-striped' id='table-tournament-statistics')
                                    tbody
                                        - var rank = 1
                                        each idx in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                            tr
                                                +top_statistics(rank, idx, statistics.checkout_highest)
                                                - rank++
                        td(style='width: 25%;')
                            div(class='block-container-red mr-10') Best PPD
                            div(class='highscore-card')
                                table(class='table table-striped' id='table-tournament-statistics')
                                    tbody
                                        - var rank = 1
                                        each idx in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                            tr
                                                +top_statistics(rank, idx, statistics.best_ppd)
                                                - rank++
                        td(style='width: 25%;')
                            div(class='block-container-red mr-10') Best first 9 PPD
                            div(class='highscore-card')
                                table(class='table table-striped' id='table-tournament-statistics')
                                    tbody
                                        - var rank = 1
                                        each idx in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                            tr
                                                +top_statistics(rank, idx, statistics.best_first_nine_ppd)
                                                - rank++
                        td(style='width: 25%;')
                            div(class='block-container-red') Least darts thrown
                            div(class='highscore-card-no-margin')
                                table(class='table table-striped' id='table-tournament-statistics')
                                    tbody
                                        - var rank = 1
                                        each idx in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                            - var dartsThrown = statistics.best_501_darts_thrown ? statistics.best_501_darts_thrown : statistics.best_301_darts_thrown ? statistics.best_301_darts_thrown : null
                                            tr
                                                +top_statistics(rank, idx, dartsThrown)
                                                - rank++

        div(role='tabpanel' id='playoffs' class='tab-pane')
            each bracket in brackets
                object!= bracket
        if tournament.standings
            div(role='tabpanel' id='standings' class='tab-pane')
                div(class='block-container no-padding')
                    table(class='table' id='table-tournament-standings')
                        thead
                            tr
                                th Position
                                th Player
                        tbody
                            each standing in tournament.standings
                                tr
                                    td= standing.rank
                                    td: a(href='/players/' + standing.player_id + '/statistics')= standing.player_name