doctype html
html
    include ../mixins/player.pug
    block head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet' type='text/css' href='/stylesheets/bootstrap-3.3.7.min.css')
        link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')

        link(rel='stylesheet' type='text/css' href='/fonts/open-sans.css')

        script(src='/javascripts/jquery-3.1.1.min.js')
        script(src='/javascripts/bootstrap-3.3.7.min.js')
        script(src='/javascripts/frontend-helpers.js')

        script(src='/javascripts/alertify-1.11.0.min.js')
        link(rel='stylesheet' type='text/css' href='/stylesheets/alertify-1.11.0.min.css')
        link(rel='stylesheet' type='text/css' href='/stylesheets/alertify.bootstrap-1.11.0.min.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        title kcapp
        script(src='/javascripts/responsivevoice.1.5.8..js')
        script(src='/javascripts/views/entry_layout.js')
        script(src='/javascripts/moment-2.20.1.min.js')
    block body
    body
        div(id='obs')
            table(style='width: 600px; font-size: 20px; background-color: #2877ca;')
                each player in leg_players
                    - var playerId = player.player_id;
                    - var activeClass = player.is_current_player ? 'obs-visits-active' : 'obs-visits-inactive'
                    tr(class=activeClass id='obs-scorecard-player-' + playerId style='height: 30px; line-height: 30px;')
                        // Do not remove 
                        td(style='display: none;' class='obs-total-score')= 0
                        td(class='obs-table-player-name')= players[playerId].name
                        td(class='obs-dart-score first' data-multiplier='1') &nbsp;
                        td(class='obs-dart-score first' data-multiplier='1') &nbsp;
                        td(class='obs-dart-score first' data-multiplier='1') &nbsp;
                        td(class='obs-player-score' id='obs-player-score-' + playerId)= player.current_score
                        td(id='obs-player-legs-' + player.player_id class='obs-player-legs')= (player.wins ? player.wins : '0')
