extends ../layout.pug

block append head
    script(src='/javascripts/responsivevoice.1.5.8..js')
    script(src='/javascripts/socket.io-2.0.3.min.js')

include ../mixins/dart.pug
include ../mixins/score_header.pug

block scripts
    script
        include socketio_helper.js
        include spectator_scripts.js
    script.
        var leg = !{JSON.stringify(leg)}
        var playersMap = !{JSON.stringify(players)}
        $(function () {
            socket = getLegsNamespace(leg);
            configureSocketEvents(socket, leg, playersMap, true);
        });
    script.
        $(function() {
            var announceVoice = JSON.parse(localStorage.getItem('kcapp_spectate_announce'));
            if (announceVoice) {
               $('#btn-enable-announcements').text("Disable Voice Announcements");
            }
            $('#btn-enable-announcements').click(function(event) {
                var value = JSON.parse(localStorage.getItem('kcapp_spectate_announce'));
                console.log("value is: " + value + " - " + !value);
                localStorage.setItem('kcapp_spectate_announce', !value);
                $('#btn-enable-announcements').text((value ? "Enable" : "Disable") + " Voice Announcements");
            });
        });

block content
    div(class='pt-20')
    div(class='block-container' style='overflow: visible;')
        div(class='float-left font-24')= 'Spectate match'
        div(class='float-right')
            div(class='btn-group')
                button(type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Options&nbsp;&nbsp;
                    span(class='caret')
                    span(class='sr-only')
                ul(class='dropdown-menu')
                    block advanced_options
                        li: a(id='btn-enable-announcements') Enable Announcements
                        li: a(id='btn-open-chat') Open chat
                        li: a(id='btn-change-player-order' data-toggle="collapse" data-target="#toggle-visits-container" aria-expanded="false") Toggle visits

            div(class='btn-group')
                ul(class='dropdown-menu')
                    block advanced_options
        div(style='clear: both;')

    - var round_number = Math.floor(leg.visits.length / leg.players.length) + 1;
        div
            table(id='scores-table')
                tbody
                    tr
                        each player in leg_players
                            - var playerId = player.player_id;
                            - var clazz = player.is_current_player ? 'scorecard scorecard-active' : 'scorecard scorecard-inactive'
                            td
                                div(class=clazz id='scorecard-player-' + playerId)
                                    div(id='player-name-' + playerId class='label-player-name')= players[playerId].name
                                    div(id='player-score-' + playerId class='label label-block label-player-score')= player.current_score

                                    div(id='player-legs-' + player.player_id class='player-legs')
                                        label= (player.wins ? player.wins : '0')

                    tr
                        each player in leg_players
                            - var clazz = player.is_current_player ? 'visits-active' : 'visits-inactive'
                                td(id='player-visit-' + player.player_id class=clazz)
                                    table(style='width: 100%; table-layout: fixed;')
                                        tbody
                                            tr
                                                td
                                                    div(class='dart-score')
                                                        div(class='first' data-multiplier='1') &nbsp;
                                                td
                                                    div(class='dart-score')
                                                        div(class='second' data-multiplier='1') &nbsp;
                                                td
                                                    div(class='dart-score')
                                                        div(class='third' data-multiplier='1') &nbsp;
                                            tr
                                                td(style='padding: 3px;')
                                            tr
                                                td(colspan='3')
                                                    div(class='total-score')= 0

    if !leg.is_finished && leg.board_stream_url
        img(src=leg.board_stream_url class='center-image' alt='Board live stream')

    div(id='toggle-visits-container' class='collapse in')
        h3 Visits
        table(class='table table-scores' id='table-leg-visits' style='table-layout: fixed;')
            thead
                tr
                    th Player
                    th(class='text-center') First Dart
                    th(class='text-center') Second Dart
                    th(class='text-center') Third Dart
                    th(class='text-center') Total
            tbody
                each visit in leg.visits
                    tr(class='block-container-mid')
                        td= players[visit.player_id].name
                        +dart_container(visit.first_dart.value, visit.first_dart.multiplier)
                        +dart_container(visit.second_dart.value, visit.second_dart.multiplier)
                        +dart_container(visit.third_dart.value, visit.third_dart.multiplier)
                        td
                            if visit.is_bust
                                label BUST
                            else
                                label= (visit.first_dart.multiplier * visit.first_dart.value ) + (visit.second_dart.multiplier * visit.second_dart.value) + (visit.third_dart.multiplier * visit.third_dart.value)

    include ../chat/chat.pug
