extends ../layout.pug

include ../mixins/dart.pug
include ../mixins/statistics.pug

block scripts
    script.
        $(function () {
            $('.table-player-form td').click(function () {
                location.href = '/matches/' + $(this).data('match-id') + '/result';
            });
        });


block content
    h2(style='padding: 10px 0px 20px 0px;') Head to Head

    div(class='table-responsive')
        table(id='table-player-head-to-head' class='table'  style='table-layout: fixed;')
            thead
                tr
                    td(class='head-to-head-player1'): h2= player1.name
                    th(class='head-to-head-header'): h2 vs
                    td(class='head-to-head-player2'): h2= player2.name
                tr
                    td(class='head-to-head-player1')
                        if player1.profile_pic_url
                            img(class='glyphicon glyphicon-user' height='130' width='98' src=player1.profile_pic_url)
                        else
                            span(class='glyphicon glyphicon-user')
                    th(class='head-to-head-header')
                    td(class='head-to-head-player2')
                        if player2.profile_pic_url
                            img(class='glyphicon glyphicon-user' height='130' width='98' src=player2.profile_pic_url)
                        else
                            span(class='glyphicon glyphicon-user')
                tr
                    th(colspan='3' class='head-to-head-header'): h3 Overall
                tr
                    td(class='head-to-head-player1')= player1.matches_won + ' / ' + player1.matches_played
                    th(class='head-to-head-header') Matches Won / Played
                    td(class='head-to-head-player2')= player2.matches_won + ' / ' + player2.matches_played
                tr
                    td(class='head-to-head-player1')= ((player1.matches_won * 100) / player1.matches_played).toFixed(2) + '%'
                    th(class='head-to-head-header') Matches Win %
                    td(class='head-to-head-player2')= ((player2.matches_won * 100) / player2.matches_played).toFixed(2) + '%'
                tr
                    td(class='head-to-head-player1')= player1.legs_won + ' / ' + player1.legs_played
                    th(class='head-to-head-header') Legs Won / Played
                    td(class='head-to-head-player2')= player2.legs_won + ' / ' + player2.legs_played
                tr
                    td(class='head-to-head-player1')= ((player1.legs_won * 100) / player1.legs_played).toFixed(2) + '%'
                    th(class='head-to-head-header') Legs Win %
                    td(class='head-to-head-player2')= ((player2.legs_won * 100) / player2.legs_played).toFixed(2) + '%'
                tr
                    th(colspan='3' class='head-to-head-header'): h3 Form
                tr
                    mixin player_form_table(matches, playerID, align)
                        table(class='table-player-form' style='width: 100%; table-layout: fixed;' align=align)
                            tr
                                //- Need to loop though in reverse order
                                each idx in [4, 3, 2, 1, 0]
                                    - var match = matches[idx]
                                    if match == null
                                        td
                                    else
                                        if match.winner_id === null
                                            td(style='background-color: #5bc0de; font-weight: bold;' data-match-id=match.id): label(style='display: block; cursor: pointer;') D
                                        else if match.winner_id === playerID
                                            td(style='background-color: #5cb85c; font-weight: bold;' data-match-id=match.id): label(style='display: block; cursor: pointer;') W
                                        else
                                            td(style='background-color: #e02a2a; font-weight: bold;' data-match-id=match.id): label(style='display: block; cursor: pointer;') L

                    td(class='text-center')
                        +player_form_table(head2head.last_matches[player1.id], player1.id, 'right')
                    th(class='head-to-head-header') Last
                    td(class='text-center')
                        +player_form_table(head2head.last_matches[player2.id], player2.id, 'left')
                tr
                    td(class='text-center')
                        +player_form_table(head2head.head_to_head_matches, player1.id, 'right')
                    th(class='head-to-head-header') VS.
                    td(class='text-center')
                        +player_form_table(head2head.head_to_head_matches, player2.id, 'left')
                - var player1Wins = head2head.head_to_head_wins[player1.id] ? head2head.head_to_head_wins[player1.id] : 0
                - var player2Wins = head2head.head_to_head_wins[player2.id] ? head2head.head_to_head_wins[player2.id] : 0
                - var draws = head2head.head_to_head_wins[0] ? head2head.head_to_head_wins[0] : 0
                - var total_matches = player1Wins + player2Wins + draws
                tr
                    td(class='head-to-head-player1')= total_matches + ' (' + player1Wins + ' / ' + draws + ' / ' + player2Wins + ')'
                    th(class='head-to-head-header') Total (W / D / L)
                    td(class='head-to-head-player2')= total_matches + ' (' + player2Wins + ' / ' + draws + ' / ' + player1Wins + ')'
                tr
                    td(class='head-to-head-player1')= total_matches == 0 ? '-' : (player1Wins / total_matches * 100).toFixed(2) + '%'
                    th(class='head-to-head-header') VS. Win %
                    td(class='head-to-head-player2')= total_matches == 0 ? '-' : (player2Wins / total_matches * 100).toFixed(2) + '%'

                mixin x01_statistics(x01, stats1, stats2)
                    tr
                        th(colspan='3' class='head-to-head-header'): h3= x01
                    tr
                        td(class='head-to-head-player1')= stats1.ppd.toFixed(2)
                        th(class='head-to-head-header') PPD
                        td(class='head-to-head-player2')= stats2.ppd.toFixed(2)
                    tr
                        td(class='head-to-head-player1')= stats1.first_nine_ppd.toFixed(2)
                        th(class='head-to-head-header') First 9 PPD
                        td(class='head-to-head-player2')= stats2.first_nine_ppd.toFixed(2)
                    tr
                        td(class='head-to-head-player1')= stats1.checkout_percentage.toFixed(2) + '%'
                        th(class='head-to-head-header') Checkout %
                        td(class='head-to-head-player2')= stats2.checkout_percentage.toFixed(2) + '%'
                    tr
                        if x01 == 301
                            +best_statistics(stats1.best_301, 'head-to-head-player1')
                            th(class='head-to-head-header') Best Leg
                            +best_statistics(stats2.best_301, 'head-to-head-player2')
                        else if x01 == 501
                            +best_statistics(stats1.best_501, 'head-to-head-player1')
                            th(class='head-to-head-header') Best Leg
                            +best_statistics(stats2.best_501, 'head-to-head-player2')
                    tr
                        +best_statistics(stats1.best_ppd, 'head-to-head-player1')
                        th(class='head-to-head-header') Best PPD
                        +best_statistics(stats2.best_ppd, 'head-to-head-player2')
                    tr
                        +best_statistics(stats1.best_first_nine_ppd, 'head-to-head-player1')
                        th(class='head-to-head-header') Best First 9 PPD
                        +best_statistics(stats2.best_first_nine_ppd, 'head-to-head-player2')
                    tr
                        +best_statistics(stats1.highest_checkout, 'head-to-head-player1')
                        th(class='head-to-head-header') Highest Checkout
                        +best_statistics(stats2.highest_checkout, 'head-to-head-player2')
                    tr
                        th(colspan='3' class='head-to-head-header'): h4 Accuracy
                    tr
                        mixin get_accuracy(statistics, clazz)
                            - var accuracy20 = statistics.accuracy_20 == null ? '-' : statistics.accuracy_20.toFixed(2)
                            - var accuracy19 = statistics.accuracy_19 == null ? '-' : statistics.accuracy_19.toFixed(2)
                            td(class=clazz)=  statistics.accuracy_overall.toFixed(2) + ' / ' + accuracy20 + ' / ' + accuracy19

                        +get_accuracy(stats1, 'head-to-head-player1')
                        th(class='head-to-head-header') Overall / 20s / 19s
                        +get_accuracy(stats2, 'head-to-head-player2')
                    tr
                        th(colspan='3' class='head-to-head-header'): h4 Scores
                    tr
                        mixin scores_table(scores, legs_played, align)
                            table(class='table-player-scores' align=align)
                                thead
                                    th Count
                                    th Per Leg
                                tbody
                                    tr
                                        td= scores.scores_60s_plus
                                        td= scores.scores_60s_plus == 0 ? '-' : (scores.scores_60s_plus / legs_played).toFixed(2)
                                    tr
                                        td= scores.scores_100s_plus
                                        td= scores.scores_100s_plus == 0 ? '-' : (scores.scores_100s_plus / legs_played).toFixed(2)
                                    tr
                                        td= scores.scores_140s_plus
                                        td= scores.scores_140s_plus == 0 ? '-' : (scores.scores_140s_plus / legs_played).toFixed(2)
                                    tr
                                        td= scores.scores_180s
                                        td= scores.scores_180s == 0 ? '-' : (scores.scores_180s / legs_played).toFixed(2)

                        td(class='head-to-head-player1'): +scores_table(stats1, stats1.legs_played, 'right')
                        th(class='head-to-head-header')
                            table(class='table-player-scores' align=align)
                                thead
                                    tr: th &nbsp;
                                    tr: th 60+
                                    tr: th 100+
                                    tr: th 140+
                                    tr: th 180s
                        td(class='head-to-head-player2'): +scores_table(stats2, stats2.legs_played, 'left')

                - var player1stats301 = head2head.player_301_statistics[player1.id]
                - var player2stats301 = head2head.player_301_statistics[player2.id]
                if player1stats301 && player2stats301
                    +x01_statistics(301, player1stats301, player2stats301)

                - var player1stats501 = head2head.player_501_statistics[player1.id]
                - var player2stats501 = head2head.player_501_statistics[player2.id]
                if player1stats501 && player2stats501
                    +x01_statistics(501, player1stats501, player2stats501)
                tr
                    th(colspan='3' class='head-to-head-header'): h4 Visits
                tr
                    mixin player_top_visits_table(visits, player, align)
                        table(class='table-player-top-visits' align=align)
                            thead
                                tr
                                    th(colspan='3') Visit
                                    th Per Match
                            tbody
                                each round in [0, 1, 2]
                                    tr
                                        +dart_container(visits[round].first_dart.value, visits[round].first_dart.multiplier)
                                        +dart_container(visits[round].second_dart.value, visits[round].second_dart.multiplier)
                                        +dart_container(visits[round].third_dart.value, visits[round].third_dart.multiplier)
                                        td(width='12%')= (visits[round].count / player.matches_played).toFixed(2)
                    td
                        +player_top_visits_table(head2head.player_visits[player1.id], player1, 'right')
                    th
                    td
                        +player_top_visits_table(head2head.player_visits[player2.id], player2, 'left')
                tr
                    th(colspan='3' class='head-to-head-header'): h4 Checkouts
                tr
                    mixin player_top_checkouts_table(checkouts, align)
                        td
                            table(class='table-player-top-checkouts' align=align)
                                tbody
                                    each round in [0, 1, 2]
                                        tr
                                            if checkouts[round].completed
                                                +dart_container(checkouts[round].visits[0].first_dart.value, checkouts[round].visits[0].first_dart.multiplier)
                                                +dart_container(checkouts[round].visits[0].second_dart.value, checkouts[round].visits[0].second_dart.multiplier)
                                                +dart_container(checkouts[round].visits[0].third_dart.value, checkouts[round].visits[0].third_dart.multiplier)
                                            else
                                                td(colspan='3')

                    +player_top_checkouts_table(head2head.player_checkouts[player1.id], 'right')
                    th
                    +player_top_checkouts_table(head2head.player_checkouts[player2.id], 'left')
