extends ../layout.pug

include ../mixins/dart.pug
include ../mixins/statistics.pug
include ../mixins/player.pug

block scripts
    script.
        $(function () {
            $('.table-player-form td').click(function () {
                location.href = '/matches/' + $(this).data('match-id') + '/result';
            });
        });


block content
    div(class='pt-20')
    div(class='block-container')
        table(style='width: 100%;')
            tr
                td(style='width: 40%; text-align: right;')
                    span(style='font-size: 30px; padding-right: 20px;')= player1.name
                    div(class='player-pic-cutout float-right')
                        span
                            +get_player_profile_pic(player1)
                td(style='width: 20%; text-align: center; font-size: 35px; font-weight: 700;') VS
                td(style='width: 40%; text-align: left;')
                    span(style='font-size: 30px; padding-left: 20px;')= player2.name
                    div(class='player-pic-cutout float-left')
                        +get_player_profile_pic(player2)

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') Overall

    div(class='block-container')
        table(class='table-vs')
            tr
                td= player1.matches_played
                td= "matches played"
                td= player2.matches_played
            tr
                td= player1.matches_won
                td= "matches won"
                td= player2.matches_won
            tr
                td= ((player1.matches_won * 100) / player1.matches_played).toFixed(2) + '%'
                td= "matches win %"
                td= ((player2.matches_won * 100) / player2.matches_played).toFixed(2) + '%'
            tr
                td= player1.legs_played
                td= "legs played"
                td= player2.legs_played
            tr
                td= player1.legs_won
                td= "legs won"
                td= player2.legs_won
            tr
                td= ((player1.legs_won * 100) / player1.legs_played).toFixed(2) + '%'
                td= "legs win %"
                td= ((player2.legs_won * 100) / player2.legs_played).toFixed(2) + '%'

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') Elo

    div(class='block-container')
        table(class='table-vs')
            tr
                td= head2head.player_elo[player1.id].tournament_elo
                td= "current"
                td= head2head.player_elo[player2.id].tournament_elo
            tr
                td= (head2head.player_elo[player1.id].win_probability * 100).toFixed(0) + '%'
                td= "winning probability"
                td= (head2head.player_elo[player2.id].win_probability * 100).toFixed(0) + '%'

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') Form

    div(class='block-container')
        table(class='table-vs-form' style='width: 100%;')
            tr
                mixin player_form_table(matches, playerID, align)
                    table(align=align)
                        tr
                            //- Need to loop though in reverse order
                            each idx in [4, 3, 2, 1, 0]
                                - var match = matches[idx]
                                if match == null
                                    td
                                else
                                    if match.winner_id === null
                                        td(style='padding: 0px 2px 0px 2px;')
                                            span(class="fa-stack")
                                                i(class="fa fa-circle fa-stack-2x col-grey")
                                                strong(class="fa-stack-1x text-primary col-white" data-match-id=match.id)= 'D'
                                    else if match.winner_id === playerID
                                        td(style='padding: 0px 2px 0px 2px;')
                                            span(class="fa-stack")
                                                i(class="fa fa-circle fa-stack-2x col-green")
                                                strong(class="fa-stack-1x text-primary col-white" data-match-id=match.id)= 'W'                                        
                                    else
                                        td(style='padding: 0px 2px 0px 2px;')
                                            span(class="fa-stack")
                                                i(class="fa fa-circle fa-stack-2x col-dead-red")
                                                strong(class="fa-stack-1x text-primary col-white" data-match-id=match.id)= 'L'
                - var player1Wins = head2head.head_to_head_wins[player1.id] ? head2head.head_to_head_wins[player1.id] : 0
                - var player2Wins = head2head.head_to_head_wins[player2.id] ? head2head.head_to_head_wins[player2.id] : 0
                - var draws = head2head.head_to_head_wins[0] ? head2head.head_to_head_wins[0] : 0
                - var total_matches = player1Wins + player2Wins + draws

                td(style='width: 35%; text-align: right;')
                    +player_form_table(head2head.last_matches[player1.id], player1.id, 'right')
                td(style='width: 30%; text-align: center;')= 'last'
                td(style='width: 35%; text-align: left;')
                    +player_form_table(head2head.last_matches[player2.id], player1.id, 'left')
            tr    
                td(style='width: 35%; text-align: right;')
                    +player_form_table(head2head.head_to_head_matches, player1.id, 'right')
                td(style='width: 30%; text-align: center;')= 'versus'
                td(style='width: 35%; text-align: left;')
                    +player_form_table(head2head.head_to_head_matches, player2.id, 'left')
            tr
                td(style='width: 35%; text-align: right; font-size: 20px; font-weight: 600;padding-top: 10px;')= total_matches + ' (' + player1Wins + ' / ' + draws + ' / ' + player2Wins + ')'
                td(style='width: 30%; text-align: center;padding-top: 10px;') total (W / D / L)
                td(style='width: 35%; text-align: left; font-size: 20px; font-weight: 600;padding-top: 10px;')= total_matches + ' (' + player2Wins + ' / ' + draws + ' / ' + player1Wins + ')'
            tr
                td(style='width: 35%; text-align: right; font-size: 20px; font-weight: 600;padding-top: 10px;')= total_matches == 0 ? '-' : (player1Wins / total_matches * 100).toFixed(2) + '%'
                td(style='width: 30%; text-align: center;padding-top: 10px;') vs winning %
                td(style='width: 35%; text-align: left; font-size: 20px; font-weight: 600;padding-top: 10px;')= total_matches == 0 ? '-' : (player2Wins / total_matches * 100).toFixed(2) + '%'

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') 301

    div(class='block-container')
        table(class='table-vs')
            - var player1stats301 = head2head.player_301_statistics[player1.id]
            - var player2stats301 = head2head.player_301_statistics[player2.id]
            if player1stats301 && player2stats301
                tr
                    td= player1stats301.ppd.toFixed(2)
                    td PPD
                    td= player2stats301.ppd.toFixed(2)
                tr
                    td= player1stats301.first_nine_ppd.toFixed(2)
                    td first 9 PPD
                    td= player2stats301.first_nine_ppd.toFixed(2)
                tr
                    td= player1stats301.checkout_percentage.toFixed(2) + '%'
                    td checkout %
                    td= player2stats301.checkout_percentage.toFixed(2) + '%'
                tr
                    +best_statistics_td(player1stats301.best_301, '')
                    td best leg
                    +best_statistics_td(player2stats301.best_301, '')
                tr
                    +best_statistics_td(player1stats301.best_ppd, '')
                    td best PPD
                    +best_statistics_td(player2stats301.best_ppd, '')
                tr
                    +best_statistics_td(player1stats301.best_first_nine_ppd, '')
                    td best first 9 PPD
                    +best_statistics_td(player2stats301.best_first_nine_ppd, '')
                tr
                    +best_statistics_td(player1stats301.highest_checkout, '')
                    td highest checkout
                    +best_statistics_td(player2stats301.highest_checkout, '')
                tr
                    td(colspan='3')
                        hr
                tr
                    td= player1stats301.accuracy_overall.toFixed(2)
                    td accuracy overall
                    td= player2stats301.accuracy_overall.toFixed(2)
                tr
                    - var p1accuracy20 = player1stats301.accuracy_20 == null ? '-' : player1stats301.accuracy_20.toFixed(2)
                    - var p2accuracy20 = player2stats301.accuracy_20 == null ? '-' : player2stats301.accuracy_20.toFixed(2)
                    td= p1accuracy20
                    td accuracy 20s
                    td= p2accuracy20
                tr
                    - var p1accuracy19 = player1stats301.accuracy_19 == null ? '-' : player1stats301.accuracy_19.toFixed(2)
                    - var p2accuracy19 = player2stats301.accuracy_19 == null ? '-' : player2stats301.accuracy_19.toFixed(2)
                    td= p1accuracy19
                    td accuracy 19s
                    td= p2accuracy19
                tr
                    td(colspan='3')
                        hr
                tr
                    - var p1s60 = player1stats301.scores_60s_plus == null ? '0' : player1stats301.scores_60s_plus
                    - var p2s60 = player2stats301.scores_60s_plus == null ? '0' : player2stats301.scores_60s_plus
                    - var p1s60pl = player1stats301.scores_60s_plus == null ? '0' : (player1stats301.scores_60s_plus / player1stats301.legs_played).toFixed(2)
                    - var p2s60pl = player2stats301.scores_60s_plus == null ? '0' : (player2stats301.scores_60s_plus / player1stats301.legs_played).toFixed(2)
                    td=  '(' + p1s60pl + ') ' + p1s60
                    td 60+
                    td= p2s60 + ' (' + p2s60pl + ')'
                tr
                    - var p1s100 = player1stats301.scores_100s_plus == null ? '0' : player1stats301.scores_100s_plus
                    - var p2s100 = player2stats301.scores_100s_plus == null ? '0' : player2stats301.scores_100s_plus
                    - var p1s100pl = player1stats301.scores_100s_plus == null ? '0' : (player1stats301.scores_100s_plus / player1stats301.legs_played).toFixed(2)
                    - var p2s100pl = player2stats301.scores_100s_plus == null ? '0' : (player2stats301.scores_100s_plus / player1stats301.legs_played).toFixed(2)
                    td= '(' + p1s100pl + ') ' + p1s100
                    td 100+
                    td= p2s100 + ' (' + p2s100pl + ')'
                tr
                    - var p1s140 = player1stats301.scores_140s_plus == null ? '0' : player1stats301.scores_140s_plus
                    - var p2s140 = player2stats301.scores_140s_plus == null ? '0' : player2stats301.scores_140s_plus
                    - var p1s140pl = player1stats301.scores_140s_plus == null ? '0' : (player1stats301.scores_140s_plus / player1stats301.legs_played).toFixed(2)
                    - var p2s140pl = player2stats301.scores_140s_plus == null ? '0' : (player2stats301.scores_140s_plus / player1stats301.legs_played).toFixed(2)
                    td= '(' + p1s140pl + ') ' + p1s140
                    td 140+
                    td= p2s140 + ' (' + p2s140pl + ')'
                tr
                    - var p1s180 = player1stats301.scores_180s == null ? '0' : player1stats301.scores_180s
                    - var p2s180 = player2stats301.scores_180s == null ? '0' : player2stats301.scores_180s
                    - var p1s180pl = player1stats301.scores_180s == null ? '0' : (player1stats301.scores_180s / player1stats301.legs_played).toFixed(2)
                    - var p2s180pl = player2stats301.scores_180s == null ? '0' : (player2stats301.scores_180s / player1stats301.legs_played).toFixed(2)
                    td= '(' + p1s180pl + ') ' + p1s180
                    td 180+
                    td= p2s180 + ' (' + p2s180pl + ')'

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') 501

    div(class='block-container')
        table(class='table-vs')
            - var player1stats501 = head2head.player_501_statistics[player1.id]
            - var player2stats501 = head2head.player_501_statistics[player2.id]
            if player1stats501 && player2stats501
                tr
                    td= player1stats501.ppd.toFixed(2)
                    td PPD
                    td= player2stats501.ppd.toFixed(2)
                tr
                    td= player1stats501.first_nine_ppd.toFixed(2)
                    td first 9 PPD
                    td= player2stats501.first_nine_ppd.toFixed(2)
                tr
                    td= player1stats501.checkout_percentage.toFixed(2) + '%'
                    td checkout %
                    td= player2stats501.checkout_percentage.toFixed(2) + '%'
                tr
                    +best_statistics_td(player1stats501.best_501, '')
                    td best leg
                    +best_statistics_td(player2stats501.best_501, '')
                tr
                    +best_statistics_td(player1stats501.best_ppd, '')
                    td best PPD
                    +best_statistics_td(player2stats501.best_ppd, '')
                tr
                    +best_statistics_td(player1stats501.best_first_nine_ppd, '')
                    td best first 9 PPD
                    +best_statistics_td(player2stats501.best_first_nine_ppd, '')
                tr
                    +best_statistics_td(player1stats501.highest_checkout, '')
                    td highest checkout
                    +best_statistics_td(player2stats501.highest_checkout, '')
                tr
                    td(colspan='3')
                        hr
                tr
                    td= player1stats501.accuracy_overall.toFixed(2)
                    td accuracy overall
                    td= player2stats501.accuracy_overall.toFixed(2)
                tr
                    - var p1accuracy20 = player1stats501.accuracy_20 == null ? '-' : player1stats501.accuracy_20.toFixed(2)
                    - var p2accuracy20 = player2stats501.accuracy_20 == null ? '-' : player2stats501.accuracy_20.toFixed(2)
                    td= p1accuracy20
                    td accuracy 20s
                    td= p2accuracy20
                tr
                    - var p1accuracy19 = player1stats501.accuracy_19 == null ? '-' : player1stats501.accuracy_19.toFixed(2)
                    - var p2accuracy19 = player2stats501.accuracy_19 == null ? '-' : player2stats501.accuracy_19.toFixed(2)
                    td= p1accuracy19
                    td accuracy 19s
                    td= p2accuracy19
                tr
                    td(colspan='3')
                        hr
                tr
                    - var p1s60 = player1stats501.scores_60s_plus == null ? '0' : player1stats501.scores_60s_plus
                    - var p2s60 = player2stats501.scores_60s_plus == null ? '0' : player2stats501.scores_60s_plus
                    - var p1s60pl = player1stats501.scores_60s_plus == null ? '0' : (player1stats501.scores_60s_plus / player1stats501.legs_played).toFixed(2)
                    - var p2s60pl = player2stats501.scores_60s_plus == null ? '0' : (player2stats501.scores_60s_plus / player1stats501.legs_played).toFixed(2)
                    td=  '(' + p1s60pl + ') ' + p1s60
                    td 60+
                    td= p2s60 + ' (' + p2s60pl + ')'
                tr
                    - var p1s100 = player1stats501.scores_100s_plus == null ? '0' : player1stats501.scores_100s_plus
                    - var p2s100 = player2stats501.scores_100s_plus == null ? '0' : player2stats501.scores_100s_plus
                    - var p1s100pl = player1stats501.scores_100s_plus == null ? '0' : (player1stats501.scores_100s_plus / player1stats501.legs_played).toFixed(2)
                    - var p2s100pl = player2stats501.scores_100s_plus == null ? '0' : (player2stats501.scores_100s_plus / player1stats501.legs_played).toFixed(2)
                    td= '(' + p1s100pl + ') ' + p1s100
                    td 100+
                    td= p2s100 + ' (' + p2s100pl + ')'
                tr
                    - var p1s140 = player1stats501.scores_140s_plus == null ? '0' : player1stats501.scores_140s_plus
                    - var p2s140 = player2stats501.scores_140s_plus == null ? '0' : player2stats501.scores_140s_plus
                    - var p1s140pl = player1stats501.scores_140s_plus == null ? '0' : (player1stats501.scores_140s_plus / player1stats501.legs_played).toFixed(2)
                    - var p2s140pl = player2stats501.scores_140s_plus == null ? '0' : (player2stats501.scores_140s_plus / player1stats501.legs_played).toFixed(2)
                    td= '(' + p1s140pl + ') ' + p1s140
                    td 140+
                    td= p2s140 + ' (' + p2s140pl + ')'
                tr
                    - var p1s180 = player1stats501.scores_180s == null ? '0' : player1stats501.scores_180s
                    - var p2s180 = player2stats501.scores_180s == null ? '0' : player2stats501.scores_180s
                    - var p1s180pl = player1stats501.scores_180s == null ? '0' : (player1stats501.scores_180s / player1stats501.legs_played).toFixed(2)
                    - var p2s180pl = player2stats501.scores_180s == null ? '0' : (player2stats501.scores_180s / player1stats501.legs_played).toFixed(2)
                    td= '(' + p1s180pl + ') ' + p1s180
                    td 180+
                    td= p2s180 + ' (' + p2s180pl + ')'

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') Visits

    mixin visit_container_colored(multiplier)
        if multiplier == 1
            i(class="fa fa-circle fa-stack-2x col-single")
        if multiplier == 2
            i(class="fa fa-circle fa-stack-2x col-double")
        if multiplier == 3
            i(class="fa fa-circle fa-stack-2x col-triple")

    div(class='block-container')
        table(class='table-vs')
            - var p1visits = head2head.player_visits[player1.id]
            - var p2visits = head2head.player_visits[player2.id]

            if p1visits && p2visits
                tr
                    td 
                    td per match
                    td
                each round in [0, 1, 2]
                    - var p1pm = (p1visits[round].count / player1.matches_played).toFixed(2)
                    - var p2pm = (p2visits[round].count / player2.matches_played).toFixed(2)
                    tr
                        td 
                            span(class="fa-stack")
                                +visit_container_colored(p1visits[round].first_dart.multiplier)
                                strong(class="fa-stack-1x text-primary col-white")= p1visits[round].first_dart.value

                            span(class="fa-stack")
                                +visit_container_colored(p1visits[round].second_dart.multiplier)
                                strong(class="fa-stack-1x text-primary col-white")= p1visits[round].second_dart.value                                    

                            span(class="fa-stack")
                                +visit_container_colored(p1visits[round].third_dart.multiplier)
                                strong(class="fa-stack-1x text-primary col-white")= p1visits[round].third_dart.value
                        td= p1pm + ' | ' + p2pm
                        td 
                            span(class="fa-stack")
                                +visit_container_colored(p2visits[round].first_dart.multiplier)
                                strong(class="fa-stack-1x text-primary col-white")= p2visits[round].first_dart.value

                            span(class="fa-stack")
                                +visit_container_colored(p2visits[round].second_dart.multiplier)
                                strong(class="fa-stack-1x text-primary col-white")= p2visits[round].second_dart.value                                    

                            span(class="fa-stack")
                                +visit_container_colored(p2visits[round].third_dart.multiplier)
                                strong(class="fa-stack-1x text-primary col-white")= p2visits[round].third_dart.value                                     

    div(class='block-container-orange text-center')
        span(style='font-size: 20px;') Checkouts

    div(class='block-container')
        table(class='table-vs')
            - var p1checkouts = head2head.player_checkouts[player1.id]
            - var p2checkouts = head2head.player_checkouts[player2.id]

            if p1checkouts && p2checkouts
                each round in [0, 1, 2]
                    tr
                        td 
                            if p1checkouts[round].completed
                                span(class="fa-stack")
                                    +visit_container_colored(p1checkouts[round].visits[0].first_dart.multiplier)
                                    strong(class="fa-stack-1x text-primary col-white")= p1checkouts[round].visits[0].first_dart.value
                                span(class="fa-stack")
                                    +visit_container_colored(p1checkouts[round].visits[0].second_dart.multiplier)
                                    strong(class="fa-stack-1x text-primary col-white")= p1checkouts[round].visits[0].second_dart.value
                                span(class="fa-stack")
                                    +visit_container_colored(p1checkouts[round].visits[0].third_dart.multiplier)
                                    strong(class="fa-stack-1x text-primary col-white")= p1checkouts[round].visits[0].third_dart.value
                        td
                        td 
                            if p1checkouts[round].completed
                                span(class="fa-stack")
                                    +visit_container_colored(p2checkouts[round].visits[0].first_dart.multiplier)
                                    strong(class="fa-stack-1x text-primary col-white")= p2checkouts[round].visits[0].first_dart.value                                    
                                span(class="fa-stack")
                                    +visit_container_colored(p2checkouts[round].visits[0].second_dart.multiplier)
                                    strong(class="fa-stack-1x text-primary col-white")= p2checkouts[round].visits[0].second_dart.value                                    
                                span(class="fa-stack")
                                    +visit_container_colored(p2checkouts[round].visits[0].third_dart.multiplier)
                                    strong(class="fa-stack-1x text-primary col-white")= p2checkouts[round].visits[0].third_dart.value                                    
