extends ../layout.pug

include ../mixins/statistics.pug

block content
    h2 Player Comparison

    div(class='table-responsive')
        table(id='player-comparison-table' class='table')
            thead
                tr
                    th
                    each stats in statistics
                        th= players[stats.player_id].name
            tbody
                //- https://codepen.io/paulobrien/pen/gWoVzN
                tr
                    td(class='col-sm-2') Won/Played
                    each stats in statistics
                        td= players[stats.player_id].matches_won + '/' + players[stats.player_id].matches_played
                tr
                    td(class='col-sm-2') Win %
                    each stats in statistics
                        td= ((players[stats.player_id].matches_won * 100) / players[stats.player_id].matches_played).toFixed(2) + '%'
                tr
                    td(class='col-sm-2') PPD
                    each stats in statistics
                        td= stats.ppd.toFixed(2)
                tr
                    td(class='col-sm-2') First 9 PPD
                    each stats in statistics
                        td= stats.first_nine_ppd.toFixed(2)
                tr
                    td(class='col-sm-2') Best PPD
                    each stats in statistics
                        +best_statistics_td(stats.best_ppd)
                tr
                    td(class='col-sm-2') Best First 9 PPD
                    each stats in statistics
                        +best_statistics_td(stats.best_first_nine_ppd)
                tr
                    td(class='col-sm-2') Checkout%
                    each stats in statistics
                        td= stats.checkout_percentage === null ? '-' : stats.checkout_percentage.toFixed(2) + '%'
                tr
                    td(class='col-sm-2') Highest Checkout
                    each stats in statistics
                        +best_statistics_td(stats.highest_checkout)
                tr
                    td(class='col-sm-2') Best 301
                    each stats in statistics
                        +best_statistics_td(stats.best_301)
                tr
                    td(class='col-sm-2') Best 501
                    each stats in statistics
                        +best_statistics_td(stats.best_501)
                tr
                    th(class='separator-row') High Scores
                    each stats in statistics
                        td
                tr
                    td(class='col-sm-2') 60+
                    each stats in statistics
                        td= stats.scores_60s_plus
                tr
                    td(class='col-sm-2') 100+
                    each stats in statistics
                        td= stats.scores_100s_plus
                tr
                    td(class='col-sm-2') 140+
                    each stats in statistics
                        td= stats.scores_140s_plus
                tr
                    td(class='col-sm-2') 180
                    each stats in statistics
                        td= stats.scores_180s
                tr
                    th(class='separator-row') Accuracy
                    each stats in statistics
                        td
                tr
                    td(class='col-sm-2') Overall
                    each stats in statistics
                        td= stats.accuracy_overall.toFixed(2)
                tr
                    td(class='col-sm-2') 20s
                    each stats in statistics
                        - var accuracy_20 = stats.accuracy_20 ? stats.accuracy_20.toFixed(2) : '-'
                        td= accuracy_20
                tr
                    td(class='col-sm-2') 19s
                    each stats in statistics
                        - var accuracy_19 = stats.accuracy_19 ? stats.accuracy_19.toFixed(2) : '-'
                        td= accuracy_19