extends ../layout.pug

include ../mixins/dart.pug
include ../mixins/statistics.pug
include ../mixins/player.pug

block append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/datatables-1.10.16.min.css')
    script(src='/javascripts/datatables-1.10.16.min.js')

    script(src='/javascripts/webgl-heatmap.js')
    script(src='/javascripts/Chart.bundle-2.7.1.min.js')

block scripts
    script
        include ../chart/chart_helper.js
    script.
        $(function () {
            $('#table-player-profile-hits').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 15,
                order: [[ 1,  'desc' ]]
            });
            $('#table-player-profile-visits').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 15,
                order: [[ 3,  'desc' ]],
                columnDefs: [ { targets: [ 0, 1, 2 ], orderable: false, searchable: false } ]
            });
            $('#table-player-checkouts').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 10,
                order: [[ 0,  'asc' ]],
                columnDefs: [ { orderable: false, targets: 3 } ]
            });
        });
    script.
        $(function () {
            var hash = document.location.hash;
            if (hash) {
                $('.nav-pills a[href="' + hash + '"]').tab('show');
            }
            // Change hash for page-reload
            $('.nav-pills a').on('shown.bs.tab', function (e) {
                console.log("Change")
                window.location.hash = e.target.hash;
            });
         });
    script.
        var progression = !{JSON.stringify(progression)};
        var labels = [];
        var valuesMap = {
            ppd: [], first9ppd: [],
            checkout_percentage: [],
            scores60s: [], scores100s: [], scores140s: [], scores180s: [] };
        for (var date in progression) {
            if (progression.hasOwnProperty(date)) {
                var p = progression[date];
                labels.push(date);
                valuesMap.ppd.push(p.ppd.toFixed(2));
                valuesMap.checkout_percentage.push(p.checkout_percentage == null ? 0 : p.checkout_percentage.toFixed(2));
                valuesMap.first9ppd.push(p.first_nine_ppd.toFixed(2));
                valuesMap.scores60s.push(p.scores_60s_plus);
                valuesMap.scores100s.push(p.scores_100s_plus);
                valuesMap.scores140s.push(p.scores_140s_plus);
                valuesMap.scores180s.push(p.scores_180s);
            }
        }

        $(function () {
            var datasetsPPD = [{
                label: "First 9 PPD",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: valuesMap.first9ppd,
                fill: false
            },
            {
                label: "PPD",
                backgroundColor: 'rgb(54, 162, 235)',
                borderColor: 'rgb(54, 162, 235)',
                data: valuesMap.ppd,
                fill: false
            }]
            var ppdChart = new Chart("canvas-ppd", getChartConfig('PPD Per Week', 'line', 'Date', 'PPD', labels, datasetsPPD));

            var stats = !{JSON.stringify(statistics)};
            var percentage = parseFloat(Math.round(stats.accuracy_overall * 100) / 100).toFixed(2);
            var matchesChart = new Chart('canvas-accuracy-overall', getPercentageChartConfig(percentage, 'Overall accuracy', 'doughnut', '', false));
            $('#canvas-accuracy-overall-percentage').text(percentage + '%');

            var percentage20 = parseFloat(Math.round(stats.accuracy_20 * 100) / 100).toFixed(2);
            var matchesChart = new Chart('canvas-accuracy-20', getPercentageChartConfig(percentage20, 'Accuracy 20s', 'doughnut', '', false));
            $('#canvas-accuracy-20-percentage').text(percentage20 + '%');

            var percentage19 = parseFloat(Math.round(stats.accuracy_19 * 100) / 100).toFixed(2);
            var matchesChart = new Chart('canvas-accuracy-19', getPercentageChartConfig(percentage19, 'Accuracy 19s', 'doughnut', '', false));
            $('#canvas-accuracy-19-percentage').text(percentage19 + '%');

            var player = !{JSON.stringify(player)};
            var percentageMatches = player.matches_played == 0 ? '0.00' : (player.matches_won * 100 / player.matches_played).toFixed(2);
            var percentageLegs = player.legs_played == 0 ? '0.00' : (player.legs_won * 100 / player.legs_played).toFixed(2);

            var matchesChart = new Chart(
                'canvas-win-percentage-matches',
                getPolarChartConfig(
                    percentageMatches,
                    percentageLegs,
                    percentageMatches + '% matches',
                    percentageLegs + '% legs',
                    'Winning Percentage'
                )
            );
            var legsChart = new Chart('canvas-win-percentage-legs', getPercentageChartConfig(
                percentageLegs,
                'Leg winning Percentage: ' + percentageLegs + '%',
                'pie'
                )
            );

            var datasetCheckout = [{
                label: "%",
                backgroundColor: 'rgb(18, 153, 43)',
                borderColor: 'rgb(18, 153, 43)',
                data: valuesMap.checkout_percentage,
                fill: false
            }]
            var checkoutPercentageChart = new Chart("canvas-checkout", getChartConfig('Checkout % Per Week', 'line', 'Date', 'Percentage', labels, datasetCheckout));

            var datasetsScores = [{
                label: "60+",
                backgroundColor: 'rgb(54, 162, 235)',
                borderColor: 'rgb(54, 162, 235)',
                data: valuesMap.scores60s,
                fill: false
            },
            {
                label: "100+",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: valuesMap.scores100s,
                fill: false
            },
            {
                label: "140+",
                backgroundColor: 'rgb(255, 159, 64)',
                borderColor: 'rgb(255, 159, 64)',
                data: valuesMap.scores140s,
                fill: false
            },
            {
                label: "180",
                backgroundColor: 'rgb(153, 102, 255)',
                borderColor: 'rgb(153, 102, 255)',
                data: valuesMap.scores180s,
                fill: false
            }]
            var scoresChart = new Chart("canvas-scores", getChartConfig('Scores Per Week|', 'line', 'Date', 'Count', labels, datasetsScores));

            $('[data-toggle="tooltip"]').tooltip();
        });

block content
    div(class='pt-20')
    div(class='block-container')
        div(class='float-left')
            div(class='player-pic-cutout')
                +get_player_profile_pic(player)
        div(class='float-left pl-20')
            h2= player.name
            h4(style='color: #a5a5a5;')= player.nickname ? player.nickname : '-'
        div(class='float-right')
            label(class='player-color-label' style='background-color: ' + player.color + '; color: ' + player.color + ';')= player.color

    div(style='display: flex;')
        div(class='block-container player-profile-menu')
            div(class='player-profile-menu-item')
                i(class="fas fa-thumbtack")
                span
                    a(href='#overview' data-toggle='tab') Overview
            div(class='player-profile-menu-item')
                i(class="fas fa-star")
                span
                    a(href='#highscores' data-toggle='tab') High scores
            div(class='player-profile-menu-item')
                i(class="fas fa-crosshairs")
                span
                    a(href='#hits' data-toggle='tab') Hits
            div(class='player-profile-menu-item')
                i(class="fas fa-eye")
                span
                    a(href='#visits' data-toggle='tab') Visits
            div(class='player-profile-menu-item')
                i(class="fas fa-check-double")
                span
                    a(href='#checkouts' data-toggle='tab') Checkouts
            div(class='player-profile-menu-item')
                i(class="fas fa-chart-line")
                span
                    a(href='#progression' data-toggle='tab') Progression
            div(class='player-profile-menu-item')
                i(class="fas fa-trophy")
                span
                    a(href='#tournament' data-toggle='tab') Tournaments

        div(class='player-profile-content tab-content' style='width: 100%;')

            div(role='tabpanel' id='overview' class='tab-pane active')
                div(class='block-container')
                    div(class='keyinfo')
                        div(class='label-fat-18-grey') OVERALL AVG.
                        div(class='label-fat-25')
                            - var diff = (statistics.three_dart_avg - previous_statistics.three_dart_avg).toFixed(2)
                            - var change = diff > 0 ? 'fas fa-arrow-alt-circle-up' : diff < 0 ? 'fas fa-arrow-alt-circle-down' : 'fas fa-arrow-alt-circle-right'
                            - var col = diff > 0 ? 'col-green' : diff < 0 ? 'col-red' : 'col-grey'
                            div= statistics.three_dart_avg.toFixed(2)
                            div(style='font-size: 18px;' class=col)
                                i(class=change)
                                span(style='margin-left: 5px;' data-toggle="tooltip" data-placement="bottom" title="Since last week")= Math.abs(diff)
                    div(class='keyinfo')
                        div(class='label-fat-18-grey') FIRST 9 AVG.
                        div(class='label-fat-25')
                            - var diff = (statistics.first_nine_three_dart_avg - previous_statistics.first_nine_three_dart_avg).toFixed(2)
                            - var change = diff > 0 ? 'fas fa-arrow-alt-circle-up' : diff < 0 ? 'fas fa-arrow-alt-circle-down' : 'fas fa-arrow-alt-circle-right'
                            - var col = diff > 0 ? 'col-green' : diff < 0 ? 'col-red' : 'col-grey'
                            div= statistics.first_nine_three_dart_avg.toFixed(2)
                            div(style='font-size: 18px;' class=col)
                                i(class=change)
                                span(style='margin-left: 5px;' data-toggle="tooltip" data-placement="bottom" title="Since last week")= Math.abs(diff)
                    div(class='keyinfo')
                        div(class='label-fat-18-grey') CHECKOUT %
                        div(class='label-fat-25')
                            - var cp = statistics.checkout_percentage === null ? 0 : statistics.checkout_percentage.toFixed(2)
                            - var pcp = previous_statistics.checkout_percentage === null ? 0 : previous_statistics.checkout_percentage.toFixed(2)
                            - var diff = (cp - pcp).toFixed(2)
                            - var change = diff > 0 ? 'fas fa-arrow-alt-circle-up' : diff < 0 ? 'fas fa-arrow-alt-circle-down' : 'fas fa-arrow-alt-circle-right'
                            - var col = diff > 0 ? 'col-green' : diff < 0 ? 'col-red' : 'col-grey'
                            div= cp + '%'
                            div(style='font-size: 18px;' class=col)
                                i(class=change)
                                span(style='margin-left: 5px;' data-toggle="tooltip" data-placement="bottom" title="Since last week")= Math.abs(diff) + '%'
                    div(class='keyinfo')
                        div(class='label-fat-18-grey') HIGHEST CHECKOUT
                        div(class='label-fat-25')= statistics.highest_checkout ? statistics.highest_checkout.value : '-'

                table(style='width: 100%;')
                    tr
                        td(colspan='2')
                            div(class='block-container mr-10')
                                canvas(id='canvas-win-percentage-matches')
                                div(id='canvas-win-percentage-matches-percentage' class='label-mid')
                        td(style='vertical-align: top;')
                            div(class='block-container' style='min-height: 333px;')
                                div(class='label-fat-15-grey') Tournament elo / Current elo
                                div(class='label-fat-18-grey' style='color: black;padding-bottom: 20px; font-size: 25pt;')= player.tournament_elo + ' / ' + player.current_elo
                                div(class='label-fat-15-grey') Matches played / Matches won
                                div(class='label-fat-18-grey' style='color: black;padding-bottom: 20px; font-size: 25pt;')= player.matches_played + ' / ' + player.matches_won
                                div(class='label-fat-15-grey') Legs played / Legs won
                                div(class='label-fat-18-grey' style='color: black; font-size: 25pt;')= player.legs_played + ' / ' + player.legs_won
                    tr
                        td(style='width: 33%;')
                            div(class='block-container accuracy-chart')
                                canvas(id='canvas-accuracy-overall')
                                div(id='canvas-accuracy-overall-percentage' class='label-mid')
                        td(style='width: 33%;')
                            div(class='block-container accuracy-chart')
                                canvas(id='canvas-accuracy-20')
                                div(id='canvas-accuracy-20-percentage' class='label-mid')
                        td(style='width: 33%;')
                            div(class='block-container accuracy-chart-no-margin')
                                canvas(id='canvas-accuracy-19')
                                div(id='canvas-accuracy-19-percentage' class='label-mid')


            div(role='tabpanel' id='progression' class='tab-pane')
                div(style='width: 100%')
                    div(class='block-container')
                        h3 PPD
                        canvas(id='canvas-ppd')
                    div(class='block-container')
                        h3 Checkout %
                        canvas(id='canvas-checkout')
                    div(class='block-container')
                        h3 Scores
                        canvas(id='canvas-scores')

            div(role='tabpanel' id='highscores' class='tab-pane')
                table(style='width: 100%;')
                    tr
                        td(style='width: 25%;')
                            div(class='highscore-card')
                                div= statistics.scores_60s_plus
                                div(class='hs-star rank4')
                                    i(class="fas fa-star highscore")
                                div(class='hs-label') 60+
                        td(style='width: 25%;')
                            div(class='highscore-card')
                                div= statistics.scores_100s_plus
                                div(class='hs-star rank4')
                                    i(class="fas fa-star highscore")
                                    i(class="fas fa-star highscore")
                                div(class='hs-label') 100+
                        td(style='width: 25%;')
                            div(class='highscore-card')
                                div= statistics.scores_140s_plus
                                div(class='hs-star rank4')
                                    i(class="fas fa-star highscore")
                                    i(class="fas fa-star highscore")
                                    i(class="fas fa-star highscore")
                                div(class='hs-label') 140+
                        td(style='width: 25%;')
                            div(class='highscore-card-no-margin')
                                div= statistics.scores_180s
                                div(class='hs-star rank4')
                                    i(class="fas fa-star highscore")
                                    i(class="fas fa-star highscore")
                                    i(class="fas fa-star highscore")
                                    i(class="fas fa-star highscore")
                                div(class='hs-label') 180
                    tr
                        td(colspan='2' style='vertical-align: top;')
                            div(class='block-container mr-10')
                                div(style='font-size: 18pt;')
                                    span Best PPD
                                    span(class='float-right')
                                        +best_statistics(statistics.best_ppd, 'number')
                                div(style='font-size: 18pt;')
                                    span Best first 9 PPD
                                    span(class='float-right')
                                        +best_statistics(statistics.best_first_nine_ppd, 'number')
                        td(colspan='2' style='vertical-align: top;')
                            div(class='block-container')
                                div(style='font-size: 18pt;')
                                    span Best 301
                                    span(class='float-right')
                                        +best_statistics(statistics.best_301, 'number')
                                div(style='clear: both;')
                                div(style='font-size: 18pt;')
                                    span Best 501
                                    span(class='float-right')
                                        +best_statistics(statistics.best_501, 'number')
                                div(style='font-size: 18pt;')
                                    span Best 701
                                    span(class='float-right')
                                        +best_statistics(statistics.best_701, 'number')

            div(role='tabpanel' id='hits' class='tab-pane')
                div(class='block-container no-padding no-border')
                    if statistics.hits
                        table(id='table-player-profile-hits' style='margin: 0px; padding-top: 0px;')
                            thead
                                tr
                                    th(class='text-center') Dart
                                    th(class='text-center') Count
                                    th(class='text-center') Hit %
                                    th(class='text-center') Per Visit
                                    th(class='text-center') Per Leg
                                    th(class='text-center') Per Match
                            tbody
                                    each score, key in statistics.hits
                                        each value, multiplier in statistics.hits[key]
                                            tr
                                                +dart_container(key, multiplier, 'first-dart-visit', true)
                                                td(class='text-center')= value
                                                td(class='text-center')= (value * 100 / statistics.darts_thrown).toFixed(2) + '%'
                                                td(class='text-center')= (value / statistics.total_visits).toFixed(2)
                                                td(class='text-center')= (value / player.legs_played).toFixed(2)
                                                td(class='text-center')= (value / player.matches_played).toFixed(2)
                    else
                        div(class='block-container') No data available


            div(role='tabpanel' id='visits' class='tab-pane')
                div(class='block-container no-padding')
                    if statistics.visits
                        table(id='table-player-profile-visits' style='margin: 0px; padding-top: 0px;')
                            thead
                                tr
                                    th(class='text-center') Visit
                                    th
                                    th
                                    th(class='text-center') Count
                                    th(class='text-center') Visit %
                                    th(class='text-center') Per Leg
                                    th(class='text-center') Per Match
                            tbody
                                each visit in statistics.visits
                                    tr
                                        +dart_container(visit.first_dart.value, visit.first_dart.multiplier)
                                        +dart_container(visit.second_dart.value, visit.second_dart.multiplier)
                                        +dart_container(visit.third_dart.value, visit.third_dart.multiplier)
                                        td(class='text-center')= visit.count
                                        td(class='text-center')= (visit.count * 100 / statistics.total_visits).toFixed(2) + '%'
                                        td(class='text-center')= (visit.count / player.legs_played).toFixed(2)
                                        td(class='text-center')= (visit.count / player.matches_played).toFixed(2)
                    else
                        div(class='block-container') No data available

            div(role='tabpanel' id='checkouts' class='tab-pane')
                table(id='table-player-checkouts')
                    thead
                        tr
                            th
                                div(class='block-container-header pl-20')
                                    table(class='table-player-checkouts-header')
                                        tr
                                            td Checkout
                                            td Done
                                            td Count
                                            td Visits
                    tbody
                        each checkout in checkouts
                            - trclass = !checkout.completed ? 'tr-no-checkout' : ''
                            tr(class=trclass)
                                td
                                    div(class='block-container-no-margin')
                                        table(class='table-player-checkouts-row')
                                            tr
                                                td= checkout.checkout
                                                if checkout.completed
                                                    td(data-order=1): i(class="fas fa-check-circle")
                                                else
                                                    td(data-order=0): i(class="fas fa-times-circle")
                                                td= checkout.count
                                                td(style='width: 70%;')
                                                    if checkout.visits
                                                        table(class='table-player-checkouts-details')
                                                            tbody
                                                                each visit in checkout.visits
                                                                    tr
                                                                        +dart_container(visit.first_dart.value, visit.first_dart.multiplier)
                                                                        +dart_container(visit.second_dart.value, visit.second_dart.multiplier)
                                                                        +dart_container(visit.third_dart.value, visit.third_dart.multiplier)
                                                                        td(width='10%')= visit.count
                                                    else
                                                        div(class='no-checkouts') No checkouts

            div(role='tabpanel' id='tournament' class='tab-pane')
                div(class='block-container no-padding no-border')
                    table(id='table-tournament-standings')
                        thead
                            tr
                                th Tournament
                                th Division
                                th Group
                                th Final Standing
                                th Elo
                        tbody
                            each standing in tournament_standings
                                tr
                                    - var division = standing.tournament_group.division
                                    - var divisionPostfix = division === 1 ? 'st' : division === 2 ? 'nd' : division === 3 ? 'rd' : 'th';
                                    td: a(href='/tournaments/' + standing.tournament.id)= standing.tournament.name
                                    td= division + divisionPostfix
                                    td= standing.tournament_group.name
                                    td= standing.final_standing + ' / ' + standing.total_players
                                        if standing.final_standing === 1
                                            span(style='padding-left: 0.2em' class='glyphicon glyphicon-star glyphWinner' aria-hidden='true')
                                    td= standing.elo

    div(style='clear: both;')
