extends ../layout.pug

include ../mixins/dart.pug
include ../mixins/statistics.pug
include ../mixins/player.pug

block append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/datatables-1.10.16.min.css')
    script(src='/javascripts/datatables-1.10.16.min.js')

    script(src='/javascripts/webgl-heatmap.js')
    script(src='/javascripts/Chart.bundle-2.7.1.min.js')

block scripts
    script
        include ../chart/chart_helper.js
    script.
        $(function () {
            $('#table-player-hits').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 15,
                order: [[ 1,  'desc' ]]
            });
            $('#table-player-visits').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 15,
                order: [[ 3,  'desc' ]],
                columnDefs: [ { targets: [ 0, 1, 2 ], orderable: false, searchable: false } ]
            });
            $('#table-player-checkouts').DataTable({
                searching: false, bInfo : false, bLengthChange: false,
                pageLength: 10,
                order: [[ 0,  'asc' ]],
                columnDefs: [ { orderable: false, targets: 3 } ]
            });
        });
    script.
        $(function () {
            var hash = document.location.hash;
            if (hash) {
                $('.nav-pills a[href="' + hash + '"]').tab('show');
            }
            // Change hash for page-reload
            $('.nav-pills a').on('shown.bs.tab', function (e) {
                console.log("Change")
                window.location.hash = e.target.hash;
            });
         });
    script.
        var scoresMap = !{JSON.stringify(statistics.hits)};
        $(function () {
            var canvas = $("#dartboard-heatmap")[0];
            drawHeatmap(canvas, scoresMap, 0, 5, 20, 30);
            $("#heatmap-value-selector").change(function () {
                var size = 5;
                var spread = 20;
                var intensity = 30;
                var display = this.value;
                if (display == 2) {
                    size = 10;
                } else if (display == 3) {
                    size = 3
                    spread = 10
                }
                drawHeatmap(canvas, scoresMap, display, size, spread, intensity);
            });
            $('.nav a[href="#heatmap"]').on('shown.bs.tab', function (e) {
                drawHeatmap(canvas, scoresMap, 0, 5, 20, 30);
            });
        });
    script.
        var progression = !{JSON.stringify(progression)};
        var labels = [];
        var valuesMap = {
            ppd: [], first9ppd: [],
            checkout_percentage: [],
            scores60s: [], scores100s: [], scores140s: [], scores180s: [] };
        for (var date in progression) {
            if (progression.hasOwnProperty(date)) {
                var p = progression[date];
                labels.push(date);
                valuesMap.ppd.push(p.ppd.toFixed(2));
                valuesMap.checkout_percentage.push(p.checkout_percentage == null ? 0 : p.checkout_percentage.toFixed(2));
                valuesMap.first9ppd.push(p.first_nine_ppd.toFixed(2));
                valuesMap.scores60s.push(p.scores_60s_plus);
                valuesMap.scores100s.push(p.scores_100s_plus);
                valuesMap.scores140s.push(p.scores_140s_plus);
                valuesMap.scores180s.push(p.scores_180s);
            }
        }

        $(function () {
            var datasetsPPD = [{
                label: "First 9 PPD",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: valuesMap.first9ppd,
                fill: false
            },
            {
                label: "PPD",
                backgroundColor: 'rgb(54, 162, 235)',
                borderColor: 'rgb(54, 162, 235)',
                data: valuesMap.ppd,
                fill: false
            }]
            var ppdChart = new Chart("canvas-ppd", getChartConfig('PPD Per Week', 'line', 'Date', 'PPD', labels, datasetsPPD));

            var datasetCheckout = [{
                label: "%",
                backgroundColor: 'rgb(18, 153, 43)',
                borderColor: 'rgb(18, 153, 43)',
                data: valuesMap.checkout_percentage,
                fill: false
            }]
            var checkoutPercentageChart = new Chart("canvas-checkout", getChartConfig('Checkout % Per Week', 'line', 'Date', 'Percentage', labels, datasetCheckout));

            var datasetsScores = [{
                label: "60+",
                backgroundColor: 'rgb(54, 162, 235)',
                borderColor: 'rgb(54, 162, 235)',
                data: valuesMap.scores60s,
                fill: false
            },
            {
                label: "100+",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: valuesMap.scores100s,
                fill: false
            },
            {
                label: "140+",
                backgroundColor: 'rgb(255, 159, 64)',
                borderColor: 'rgb(255, 159, 64)',
                data: valuesMap.scores140s,
                fill: false
            },
            {
                label: "180",
                backgroundColor: 'rgb(153, 102, 255)',
                borderColor: 'rgb(153, 102, 255)',
                data: valuesMap.scores180s,
                fill: false
            }]
            var scoresChart = new Chart("canvas-scores", getChartConfig('Scores Per Week|', 'line', 'Date', 'Count', labels, datasetsScores));
        });

block content
    h2(style='padding: 10px 0px 20px 0px;') Statistics for #{player.name}

    ul(class='nav nav-pills')
        li(role='presentation' class='active'): a(href='#overview' data-toggle='tab') Overview
        li(role='presentation'): a(href='#player' data-toggle='tab') Player
        li(role='presentation'): a(href='#highscores' data-toggle='tab') High scores
        li(role='presentation'): a(href='#hits' data-toggle='tab') Hits
        li(role='presentation'): a(href='#heatmap' data-toggle='tab') Heatmap
        li(role='presentation'): a(href='#visits' data-toggle='tab') Visits
        li(role='presentation'): a(href='#checkouts' data-toggle='tab') Checkouts
        li(role='presentation'): a(href='#progression' data-toggle='tab') Progression
        li(role='presentation'): a(href='#tournament' data-toggle='tab') Tournaments

    div(class='tab-content' style='padding-top: 20px;')
        div(role='tabpanel' id='overview' class='tab-pane active')
            table(id='table-overview' style='width: 100%;')
                tr
                    td(class='glyph')
                        span(class='glyphicon glyphicon-signal' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon-star' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon-adjust' aria-hidden='true')
                tr
                    td(class='number')= player.matches_played + ' / ' + player.legs_played
                    td(class='number')= player.matches_won + ' / '  + player.legs_won
                    td(class='number')= (player.matches_played == 0 ? '0.00' : (player.matches_won * 100 / player.matches_played).toFixed(2)) + '% / ' + (player.legs_played == 0 ? '0.00' : (player.legs_won * 100 / player.legs_played).toFixed(2)) + '%'
                tr
                    td(class='olabel') Matches / Legs Played
                    td(class='olabel') Matches / Legs Won
                    td(class='olabel') Matches / Legs Win %
                tr
                    td(class='glyph')
                        span(class='glyphicon glyphicon-th' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon-list-alt' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon glyphicon-screenshot' aria-hidden='true')
                tr
                    td(class='number')= statistics.first_nine_ppd.toFixed(2)
                    td(class='number')= statistics.ppd.toFixed(2)
                    td(class='number')= statistics.checkout_percentage === null ? '-' : statistics.checkout_percentage.toFixed(2) + '%'
                tr
                    td(class='olabel') First 9 PPD
                    td(class='olabel') Overall PPD
                    td(class='olabel') Checkout%
                tr
                    td(class='glyph txt-italic') Overall
                    td(class='glyph txt-italic') 20s
                    td(class='glyph txt-italic') 19s
                tr
                    td(class='number')= statistics.accuracy_overall === null ? '-' : statistics.accuracy_overall.toFixed(2)
                    td(class='number')= statistics.accuracy_20 === null ? '-' : statistics.accuracy_20.toFixed(2)
                    td(class='number')= statistics.accuracy_19 === null ? '-' : statistics.accuracy_19.toFixed(2)
                tr
                    td(class='olabel') Overall Accuracy
                    td(class='olabel') Accuracy 20s
                    td(class='olabel') Accuracy 19s

        div(role='tabpanel' id='player' class='tab-pane')
            table(id='table-player' style='width: 100%;')
                tr
                    td(class='glyph')
                        span(class='glyphicon glyphicon-user' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon-bullhorn' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon-star-empty' aria-hidden='true')
                    td(class='glyph')
                        span(class='glyphicon glyphicon-picture' aria-hidden='true')
                tr
                    td(class='number')= player.name
                    td(class='number')= player.nickname ? player.nickname : '-'
                    td(class='number'): label(style='background-color: ' + player.color + '; color: ' + player.color + ';')= player.color
                    td
                        +get_player_profile_pic(player)
                tr
                    td(class='olabel') Name
                    td(class='olabel') Nickname
                    td(class='olabel') Color
                    td(class='olabel') Player

        div(role='tabpanel' id='highscores' class='tab-pane')
            table(id='table-highscores' style='width: 100%;')
                tr
                    td(class='glyph glyph60')
                        span(class='glyphicon glyphicon-fire' aria-hidden='true')
                    td(class='glyph glyph100')
                        span(class='glyphicon glyphicon-fire' aria-hidden='true')
                    td(class='glyph glyph140')
                        span(class='glyphicon glyphicon-fire' aria-hidden='true')
                    td(class='glyph glyph180')
                        span(class='glyphicon glyphicon-fire' aria-hidden='true')
                tr
                    td(class='number')= statistics.scores_60s_plus
                    td(class='number')= statistics.scores_100s_plus
                    td(class='number')= statistics.scores_140s_plus
                    td(class='number')= statistics.scores_180s
                tr
                    td(class='olabel') 60+
                    td(class='olabel') 100+
                    td(class='olabel') 140+
                    td(class='olabel') 180
                tr
                    td(class='glyph')
                        span(class='glyphicon glyphicon-tasks' aria-hidden='true')
                    td(class='glyph txt-italic') 301
                    td(class='glyph txt-italic') 501
                    td(class='glyph txt-italic') 701
                tr
                    td(class='number')
                        +best_statistics(statistics.best_ppd, 'number')
                        label(style='font-weight: 300;')= ' / '
                        +best_statistics(statistics.best_first_nine_ppd, 'number')
                    +best_statistics_td(statistics.best_301, 'number')
                    +best_statistics_td(statistics.best_501, 'number')
                    +best_statistics_td(statistics.best_701, 'number')
                tr
                    td(class='olabel') Best PPD / First 9
                    td(class='olabel') Best 301
                    td(class='olabel') Best 501
                    td(class='olabel') Best 701

        div(role='tabpanel' id='hits' class='tab-pane')
            if statistics.hits
                table(id='table-player-hits')
                    thead
                        tr
                            th Dart
                            th Count
                            th Hit %
                            th Per Visit
                            th Per Leg
                            th Per Match
                    tbody
                            each score, key in statistics.hits
                                each value, multiplier in statistics.hits[key]
                                    tr
                                        +dart_container(key, multiplier)
                                        td= value
                                        td= (value * 100 / statistics.darts_thrown).toFixed(2) + '%'
                                        td= (value / statistics.total_visits).toFixed(2)
                                        td= (value / player.legs_played).toFixed(2)
                                        td= (value / player.matches_played).toFixed(2)
            else
                div No data available

        div(role='tabpanel' id='heatmap' class='tab-pane')
            select(id='heatmap-value-selector' name='dart-values')
                option(value=0 default=true) All
                option(value=1) Singles
                option(value=2) Doubles
                option(value=3) Trebles
            div(style='text-align: center; width: 100%;')
                canvas(id='dartboard-heatmap')

        div(role='tabpanel' id='visits' class='tab-pane')
            if statistics.visits
                table(id='table-player-visits')
                    thead
                        tr
                            th Vist
                            th
                            th
                            th Count
                            th Visit %
                            th Per Leg
                            th Per Match
                    tbody
                        each visit in statistics.visits
                            tr
                                +dart_container(visit.first_dart.value, visit.first_dart.multiplier)
                                +dart_container(visit.second_dart.value, visit.second_dart.multiplier)
                                +dart_container(visit.third_dart.value, visit.third_dart.multiplier)
                                td= visit.count
                                td= (visit.count * 100 / statistics.total_visits).toFixed(2) + '%'
                                td= (visit.count / player.legs_played).toFixed(2)
                                td= (visit.count / player.matches_played).toFixed(2)
            else
                div No data available

        div(role='tabpanel' id='checkouts' class='tab-pane')
            table(id='table-checkouts' style='width: 100%;')
                tr
                    td(class='glyph')
                        span(class='glyphicon glyphicon glyphicon-screenshot' aria-hidden='true')
                    td(class='glyph')
                        span(class="glyphicon glyphicon-screenshot" aria-hidden="true")
                tr
                    td(class='number')= statistics.checkout_percentage === null ? '-' : statistics.checkout_percentage.toFixed(2) + '%'
                    +best_statistics_td(statistics.highest_checkout, 'number')
                tr
                    td(class='olabel') Checkout %
                    td(class='olabel') Highest Checkout
            table(id='table-player-checkouts')
                thead
                    tr
                        th Checkout
                        th Done
                        th Count
                        th Checkouts
                tbody
                    each checkout in checkouts
                        tr
                            td= checkout.checkout
                            if checkout.completed
                                td(data-order=1): span(class='glyphicon glyphicon-ok' aria-hidden='true')
                            else
                                td(data-order=0): span(class='glyphicon glyphicon-remove' aria-hidden='true')
                            td= checkout.count
                            if checkout.visits
                                td(width='70%')
                                    table(id='table-player-checkouts-details')
                                        thead
                                            tr
                                                th(colspan='3') Visits
                                                th Count
                                        tbody
                                            each visit in checkout.visits
                                                tr
                                                    +dart_container(visit.first_dart.value, visit.first_dart.multiplier)
                                                    +dart_container(visit.second_dart.value, visit.second_dart.multiplier)
                                                    +dart_container(visit.third_dart.value, visit.third_dart.multiplier)
                                                    td(width='10%')= visit.count
                            else
                                td -

        div(role='tabpanel' id='tournament' class='tab-pane')
            table(id='table-tournament-standings'  style='width: 100%;')
                thead
                    tr
                        th Tournament
                        th Division
                        th Group
                        th Final Standing
                        th Elo
                tbody
                    each standing in tournament_standings
                        tr
                            - var division = standing.tournament_group.division
                            - var divisionPostfix = division === 1 ? 'st' : division === 2 ? 'nd' : division === 3 ? 'rd' : 'th';
                            td: a(href='/tournaments/' + standing.tournament.id)= standing.tournament.name
                            td= division + divisionPostfix
                            td= standing.tournament_group.name
                            td= standing.final_standing + ' / ' + standing.total_players
                                if standing.final_standing === 1
                                    span(style='padding-left: 0.2em' class='glyphicon glyphicon-star glyphWinner' aria-hidden='true')
                            td= standing.elo


        div(role='tabpanel' id='progression' class='tab-pane')
            div(style='width: 100%')
                div
                    h3 PPD
                    canvas(id='canvas-ppd')
                div
                    h3 Checkout %
                    canvas(id='canvas-checkout')
                div
                    h3 Scores
                    canvas(id='canvas-scores')


