extends ../layout.pug

block scripts
    script.
        $(function() {
            $('#compare-players-button').click(function() {
                var comparePlayers = '?';
                $(':checkbox:checked').each(function(i){
                    comparePlayers += 'player_id=' + $(this).val() + '&';
                });
                comparePlayers = comparePlayers.slice(0, -1);
                if (comparePlayers === '') {
                    $('#compare-players-alert').show();
                    return;
                }
                location.href = '/players/compare' + comparePlayers;
            });

            $('#add-player-modal').on('shown.bs.modal', function () {
                $('#player-name-input').focus();
            });
            $('#add-player-button').click(function() {
                addPlayer();
            });
            $('#button-edit-player').click(function() {
                $('#add-player-modal-label').text('Add Player');
                $('#add-player-button').text('Add Player');
                $('#add-player-button').data('is-add', true);
            });

            $('#button-edit-player').click(function() {
                var player = $(':checkbox:checked').data('player');
                if (player) {
                    $('#player-name-input').val(player.name);
                    $('#player-nickname-input').val(player.nickname);
                    $('#player-color-input').val(player.color);
                    $('#player-profile-pic-input').val(player.profile_pic_url);

                    $('#add-player-modal-label').text('Edit Player');
                    $('#add-player-button').data('is-add', false);
                    $('#add-player-button').data('player-id', player.id);
                    $('#add-player-button').text('Edit Player');
                }
            });

            function addPlayer() {
                var nickname = $('#player-nickname-input').val();
                var profilePic = $('#player-profile-pic-input').val();
                var player = {
                    name: $('#player-name-input').val(),
                    nickname: nickname === '' ? null : nickname,
                    color: $('#player-color-input').val(),
                    profile_pic_url: profilePic === '' ? null : profilePic
                };
                var addButton = $('#add-player-button');
                if (addButton.data('is-add')) {
                    executePost('/players', JSON.stringify(player), 'application/json',
                        function(response) {
                            location.href = '/players';
                        },
                        function(error) {
                            console.log("Unable to add player");
                            console.log(error);
                        }
                    );
                } else {
                    executePut('/players/' + addButton.data('player-id'), JSON.stringify(player), 'application/json',
                        function(response) {
                            location.href = '/players';
                        },
                        function(error) {
                            console.log("Unable to add player");
                            console.log(error);
                        }
                    );
                }
            }
        });

block content
    div(class='pt-20')
        div(id='compare-players-alert' class='alert alert-danger pt-20' role='alert' hidden='true').
            Select at least one player to use for comparison

        div(id='toggle-options' class='block-container-header' data-toggle="collapse" data-target="#players-options" aria-expanded="false" aria-controls="collapseExample")
            i(class="fas fa-arrow-alt-circle-down")
            span(class='ml-10') Toggle options
        div(class='block-container-with-header' id='players-options' class="collapse")
            button(type='button' class='btn btn-primary' id='compare-players-button')
                i(class="fas fa-user-friends")
                span(class='ml-10') Compare Players
            button(type='button' class='btn btn-primary' id='button-add-player' data-toggle='modal' data-target='#add-player-modal')
                i(class="fas fa-user-plus")
                span(class='ml-10') Add Player
            button(type='button' class='btn btn-primary' id='button-edit-player' data-toggle='modal' data-target='#add-player-modal')
                i(class="fas fa-user-edit")
                span(class='ml-10') Edit Player

        div(class='pt-20')

        div(class='block-container no-padding')
            table(id='players-table')
                thead
                    tr
                        th
                        th(colspan=3) Matches
                        th(colspan=3) Legs
                        th(colspan=2)
                    tr
                        th(class='text-left') Name
                        th Played
                        th Won
                        th Win %
                        th Played
                        th Won
                        th Win %
                        th Statistics
                        th Compare
                tbody
                    each player in players
                        tr
                            th(hidden='true' scope='row')= player.id
                            td(class='text-left'): a(href='/players/' + player.id + '/statistics')= player.name + (player.nickname !== null ? (" '" + player.nickname + "'") : '')
                            td= player.matches_played
                            td= player.matches_won
                            td
                                span(class="badge badge-pill badge-success")= player.matches_played == 0 ? '0.00%' : (player.matches_won * 100 / player.matches_played).toFixed(2) + '%'
                            td= player.legs_played
                            td= player.legs_won
                            td
                                span(class="badge badge-pill badge-success")= player.legs_played == 0 ? '0.00%' : (player.legs_won * 100 / player.legs_played).toFixed(2) + '%'
                            td
                                a(href='/players/' + player.id + '/statistics')
                                    i(class="fas fa-eye fas-option-button")
                            td
                                input(type='checkbox' data-player=player value=player.id)

        div(class='modal fade' id='add-player-modal' tabindex='-1' role='dialog' aria-labelledby='add-player-modal-label')
            div(class='modal-dialog' role='document')
                div(class='block-container-header')
                    i(class="fas fa-user-plus")
                    span(class='ml-10') Add player
                    button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                div(class='block-container-with-header')
                    form(id='add-player-form')
                        div(class='form-group')
                            label(for='player-name-input' class='control-label') Player Name:
                            input(type='text' class='form-control' id='player-name-input')
                        div(class='form-group')
                            label(for='player-nickname-input' class='control-label') Nickname:
                            input(type='text' class='form-control' id='player-nickname-input')
                        div(class='form-group')
                            label(for='player-color-input' class='control-label') Color:
                            input(type='color' class='form-control' id='player-color-input' value='#dfdfdf')
                        div(class='form-group')
                            label(for='player-profile-pic-input' class='control-label') Profile Picture URL:
                            input(type='text' class='form-control' id='player-profile-pic-input')

                        button(type='button' class='btn btn-default btn-close' data-dismiss='modal') Close
                        button(type='submit' class='btn btn-primary btn-submit' data-is-add='true' id='add-player-button')
                            i(class="fas fa-user-plus")
                            span(class='ml-10') Add player
